{% extends 'main/consumidor/content-consumidor.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/update-creador.css' %}">
{% endblock css %}

{% block inner-content %}
    <!--INNER CONTENT-->

    <div class="container py-4">
        <h1 class="text-primary">Ajustes</h1>
        <div class="d-flex justify-content-start border-bottom mb-3 pre-ajustes">
            {% with url_name=request.resolver_match.url_name %}
            <a class="me-4 mb-0 fw-bolder text-muted 
            {% if url_name == 'account_profile' %}active {% endif %}" href="{% url 'account_profile' %}"><h2 class="mb-0">Perfil</h2></a>
            <a class="me-4 mb-0 fw-bolder text-muted" href="#"><h2 class="mb-0">Método de pago</h2></a>
            <a class="me-5 mb-0 fw-bolder text-muted
            {% if url_name == 'account_change_password' %}active {% endif %}" href="{% url 'account_change_password' %}"><h2 class="mb-0">Actualizar Contrasena</h2></a>
            {% endwith %}
        </div>


        <form class="rounded-5 mx-2 bg-white shadow rounded my-5 py-5 px-2 d-flex justify-content-center row" method="POST" action="{% url 'account_profile' %}" enctype="multipart/form-data">
        <h1 class="fw-bold">Datos de acceso</h1>
            {% if messages %}
        <ul class="messages list-unstyled">
            {% for message in messages %}
          <div {% if message.tags %} class="alert alert-{{ message.tags }} fw-bold"{% endif %}> <li>{{ message }}</li> </div>
            {% endfor %}
        </ul>
        {% endif %}
   
            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}


            {% csrf_token %}


            <div class="form-group row mb-3">



                 <p><strong class="text-danger">{{ form.username.errors.as_text }}</strong> </p>
                       <h4 class="text-muted fw-bold"> {{form.username.label}} </h4>
                       <div class="col-md-8 mb-sm-3 mb-3 mb-md-0">{{form.username}}</div> 
                       <button type="submit" class="col-md-4 btn btn-primary">Cambiar usuario</button>
            </div>

            <div class="form-group row d-flex align-items-center">
                      <h4 class="text-muted fw-bold"> Correo Principal: </h4>
                      <div class="col-md-8 mb-sm-3  mb-3 mb-xs-3 mb-md-0"><input class="form-control" disabled value="{{request.user.email}}" placeholder="{{request.user.email}}"></div> 
                      <a href="{% url 'account_email' %}" class="col-md-4 btn btn-primary">Administrar correos</a>
           </div>
                </form>





                <div class="row d-flex align-items-center rounded-5 mx-2 bg-white shadow rounded my-5 py-5 px-2 justify-content-center ">

                   
                    <div class="row">
                        <h2 class="text-muted fw-bold">Redes asociadas</h2>
                        {% for social in socials %}
                        <div class="row px-4 my-3">
                            <div class="col-md-2 col-sm-2 text-center"><img src="{% static 'img/Google.svg' %}" height="100px"></div>
                            <div class="col-md-8 col-sm-10 row d-flex align-content-center">
                                <h5 class="fw-bold">{{social.provider|title}}</h5>
                                <p class="mb-0">La cuenta se encuentra vinculada a traves de {{social.provider|title}}</p>
                                <p class="fw-bold text-muted"><small>{{social.extra_data.email}}</small></p>
                            </div>
                            <div class="col-md-2 col-sm-12 text-center d-flex align-items-center justify-content-center">
                             <a href="{% url 'socialaccount_connections' %}"> <h1 class="text-secondary"><i class="bi bi-x-circle-fill"></i></h1>  </a>
                            </div>
                            
                         </div>
                        {% endfor %}
                        <a href="{% url 'socialaccount_connections' %}" class="btn btn-lg btn-secondary rounded-pill">
                            <h1 class="fw-bold">Administrar cuentas</h1>
                        </a>
                    </div>
            </div>




    </div>




{% endblock %}