{% extends 'main/user/content.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/update-creador.css' %}">
{% endblock css %}

{% block inner-content %}
    <!--INNER CONTENT-->

    <div class="container py-4">

        <!--Titulo y links-->
        <h1 class="text-primary mb-3 fw-bold h11">Ajustes</h1>
        <div class="d-flex justify-content-start border-bottom mb-3 pre-ajustes">
            {% with url_name=request.resolver_match.url_name %}
            <a class="me-4 mb-0 fw-bolder text-muted 
            {% if url_name == 'account_profile' %}active {% endif %}" href="{% url 'account_profile' %}"><h2 class="mb-0 h22">Perfil</h2></a>
            <a class="me-4 mb-0 fw-bolder text-muted" href="#"><h2 class="mb-0 h22">Método de pago</h2></a>
            <a class="me-5 mb-0 fw-bolder text-muted
            {% if url_name == 'account_change_password' %}active {% endif %}" href="{% url 'account_change_password' %}"><h2 class="mb-0 h22">Actualizar Contrasena</h2></a>
            {% endwith %}
        </div>

        <!--Formulario-->

        <form class="rounded-5 mx-2 bg-white shadow rounded mx-auto my-5 py-3 px-2 d-flex justify-content-center row col-lg-10" id="form-update" method="POST" action="{% url 'account_profile' %}" enctype="multipart/form-data">
            <datalist id="id_pais" name="pais">
                {% for data in pais %}
                <option value="{{data}}"></option>

                {% endfor %}

            </datalist>
            {% csrf_token %}

                
                    
            {% if messages %}
        <ul class="messages list-unstyled">
            {% for message in messages %}
          <div {% if message.tags %} class="alert alert-{{ message.tags }} fw-bold"{% endif %}> <li>{{ message }}</li> </div>
            {% endfor %}
        </ul>
        {% endif %}

            
            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

         <!--Banner-->
         <div class="col-12">
            {% if object.banner %}
            <button type="button" data-bs-toggle="#" data-bs-target="#exampleModal" class="col-12 btn img-fluid imgbanner" style="background-image: url('{{object.banner.url}}');"> </button>
            {% else %}
            <button type="button" data-bs-toggle="#" data-bs-target="#exampleModal" class="col-12 btn img-fluid imgbanner" style="background-image: url('{% static 'img/placeholder-banner.png' %}');"> </button>
            {% endif %}
            </div>

        <p><strong class="text-danger">{{ form.foto.errors.as_text }}</strong> </p>   
            {% if request.user.foto %}
            <a id="boton-imagen" class="btn rounded-circle overflow-hidden update-imagen" style="background-image: url({{request.user.foto.url}});"> </a>
            
            {% else %}

            <a id="boton-imagen" class="btn rounded-circle overflow-hidden update-imagen" style="background-image: url('{% static 'img/default-profile.png' %}');"> </a>
            
            {% endif %}
            </a>
            <div class="inputs my-3">
                <h1 class="mt-4 mb-3 fw-bold">Datos personales</h1>

            <div class="row">
               

                <div class="col-lg-6 align-items-center">
                        
                            <p><strong class="text-danger">{{ form.first_name.errors.as_text }}</strong> </p>
                           <h4 class="text-muted fw-bold"> {{form.first_name.label}} </h4>
                            {{form.first_name}}
                        
                        
                            <p><strong class="text-danger">{{ form.last_name.errors.as_text }}</strong> </p>
                            <h4 class="text-muted fw-bold"> {{form.last_name.label}} </h4>
                            {{form.last_name}}
                        


                </div>


                <div class="col-lg-6">

                    <p><strong class="text-danger">{{ form.biografia.errors.as_text }}</strong> </p>
                    <h4 class="text-muted fw-bold"> {{form.biografia.label}} </h4>
    
                    {{form.biografia}}


                </div>


            </div>


              

                <div class="row mt-3">
                    <div class="col-lg-6">
                        <p><strong class="text-danger">{{ form.username.errors.as_text }}</strong> </p>
                       <h4 class="text-muted fw-bold"> {{form.username.label}} </h4>
                        {{form.username}}
                    </div>
                    <div class="col-lg-6">
                        <p><strong class="text-danger">{{ form.pais.errors.as_text }}</strong> </p>
                        <h4 class="text-muted fw-bold"> {{form.pais.label}} </h4>
                        {{form.pais}}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-6">
                        <p><strong class="text-danger">{{ form.apodo.errors.as_text }}</strong> </p>
                        <h4 class="text-muted fw-bold"> {{form.apodo.label}} </h4>
                         {{form.apodo}}
                    </div>
                    <div class="col-lg-6">
                        <p><strong class="text-danger">{{ form.link.errors.as_text }}</strong> </p>
                    <h4 class="text-muted fw-bold"> {{form.link.label}} </h4>
                     {{form.link}}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-6">
                        <p><strong class="text-danger">{{ form.fecha_nacimiento.errors.as_text }}</strong> </p>
                       <h4 class="text-muted fw-bold"> {{form.fecha_nacimiento.label}} </h4>
                        {{form.fecha_nacimiento}}
                    </div>
                    <div class="col-lg-6">
                        <p><strong class="text-danger">{{ form.genero.errors.as_text }}</strong> </p>
                        <h4 class="text-muted fw-bold"> {{form.genero.label}} </h4>
                        {{form.genero}}
                    </div>
                </div>

                <br class="my-3">
                    <p><strong class="text-danger">{{ form.tipo_celebridad.errors.as_text }}</strong> </p>
                   <h4 class="text-muted fw-bold"> {{form.tipo_celebridad.label}} (Selecciona maximo 5)</h4>
                    {{form.tipo_celebridad}}

                    <br class="my-3">

                    <p><strong class="text-danger">{{ form.foto.errors.as_text }}</strong> </p>
                   <h4 class="text-muted fw-bold"> {{form.foto.label}} </h4>
                   {{form.foto}}
                    <br class="my-3">
                   <p><strong class="text-danger">{{ form.banner.errors.as_text }}</strong> </p>
                   <h4 class="text-muted fw-bold"> {{form.banner.label}} </h4>
                   {{form.banner}}
            



            </div>
            
            <button id="enviar-update" class="fw-bold btn btn-primary rounded-pill col-6" type="submit">Actualizar</button>
        </form>
    


        

    <!--EMAILS-->
    

    <div class="row d-flex align-items-center justify-content-center col-lg-10 mx-auto bg-light rounded rounded-5 my-5 py-3 px-2 bg-white shadow">
        <h1 class="mt-4 mb-3 fw-bold">Datos de acceso</h1>
            <h4 class="text-muted fw-bold">Email Principal</h4>
            <div class=" col-md-8 mb-3">
                <!--Email principal-->
            <input type="email" class="form-control" value="{{request.user.email}}" placeholder="{{request.user.email}}" readonly>

            </div>
            <div class="col-md-4 mb-3">

            <a href="{% url 'account_email' %}" class="btn btn-primary rounded-pill w-100 px-5">Administrar correos</a>
            
            </div>

            <!--Social connections-->
                <h4 class="text-muted fw-bold">Redes asociadas</h4>
                {% if socials %}
                {% for social in socials %}
                <div class="row px-4 my-3">
                    <div class="col-md-2 col-sm-4 me-2 text-center"><img src="{% static 'img/Google.svg' %}" height="100px"></div>
                    <div class="col-md-8 col-sm-8 row d-flex align-content-center">
                        <h5 class="fw-bold">{{social.provider|title}}</h5>
                        <p class="mb-0">La cuenta se encuentra vinculada a traves de {{social.provider|title}}</p>
                        <p class="fw-bold text-muted"><small>{{social.extra_data.email}}</small></p>
                    </div>
                    <div class="col-md-2 col-sm-12 text-center d-flex align-items-center justify-content-center">
                        <a href="{% url 'socialaccount_connections' %}"> <h1 class="text-primary"><i class="bi bi-info-circle-fill"></i></h1></a>
                    </div>
                    
                 </div>
                {% endfor %}
                {% else %}
                <div class="row px-4 my-3">
                    <a href="{% url 'socialaccount_connections' %}" class="btn btn-primary btn-lg"> <h1 class="text-primary">Agregar cuenta de red social</h1></a>
                 </div>
                {% endif %}



            <!--Recuperar Password-->

           
    </div>



    </div>




{% endblock %}

{% block script %}
<script type="text/javascript">
   $('#boton-imagen').click(function(){
    $(this).parent().find('#id_foto').click();
    $(this).parent().find('#id_foto').focus();
});

    function maximo(campo,limite){
        if(campo.value.length>=limite){
        campo.value=campo.value.substring(0,limite);
        }
    };


    function cancelar() {
        var key = event.keyCode;
    
        if (key === 13) {
            event.preventDefault();
        }
    };

$('#id_tipo_celebridad').ready(function(){

$('input:checkbox').addClass('form-check-input me-2');
$('div.form-check label').addClass('form-check-label fw-bold text-muted')


});






</script>
{% endblock script %}
