{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block headtitle %} Needer - Actualizar Contrasena {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/continue.css' %}">
{% endblock css %}

{% block content %}
{% include 'main/nav.html' %}
<section class="continue bg-primary container-fluid d-flex align-items-center justify-content-center text-center">
  <div class="container  inner-continue">
  


    <h1>Verifica tu dirección de correo electrónico</h1>

    <p>{% blocktrans %}Hemos enviado un link de verificacion a tu correo electronico. Entra al enlace recibido para finalizar el proceso de registro. 
        En caso de no encontrar el e-mail en tu bandeja de entrada, revisa tu bandeja de spam. Por favor contactanos en caso de no recibir ningun correo de confirmacion.{% endblocktrans %}</p>





</div>
</section>
{% endblock %}
