{% load static %}

<section class="footer bg-primary py-3">



    <div class="container bg-primary">
      <footer class="d-flex flex-wrap justify-content-lg-between justify-content-xs-center align-items-center py-4">
        
    
        <a href="/" class="col-md-5 d-flex align-items-center justify-content-lg-start justify-content-xs-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
         <img width="4%" src="{% static 'img/Needer_Logo_Blanco.svg' %}">
         <p class="ms-3 mb-0 text-muted">© 2022 Company, Inc</p>
        </a>
    
        <ul class="nav col-md-4 justify-content-end text-center justify-content-xs-center">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
      </footer>
    </div>
  
  
  
  </section>