{% extends 'base.html' %}
{% load static %}

{% block headtitle %} Needer - Home{% endblock headtitle %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block content %}
<!--Boton para devolverse al inicio-->

{% include 'main/nav.html' %}
<!--Hero-->
<section class="hero py-5 py-lg-0 mb-4">
<div class="col-lg-12 container-fluid">
    
    <div class="row flex-lg-row-reverse align-items-center g-5 ms-lg-3">
        <!--Imagen derecha-->
      <div class="imagen-derecha col-lg-7 col-sm-8 mx-0 pe-0 text-end justify-content-end">
        <img src="{% static 'img/Amigos-celulares1.png' %}" class="d-block ms-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>

    <!--Texto izquierda-->
      <div class="col-lg-5 text-iz">
        <h1 class="display-5 fw-bold lh-1 mb-5">Consume lo que quieras, cuando quieras</h1>
        <p class="lead fs-5">En <strong class="fw-bold">Needer</strong> puedes crear, consumir, vender o comprar lo que quieras, interactua con personas de todo el mundo <a href="{% url 'account_signup' %}" class="text-white fw-bold">!UNETE AHORA¡</a></p>
        
      </div>
    </div>
  </div>
</section>

<!--Caracteristicas APP-->
<section class="caracteristicas py-4 mb-4">
<div class="container-fluid">

  <div class="row text-center">
    <h2 class="titulo-caracteristicas fw-semibold mb-4">"Needer justo lo que necesitabas..."</h2>
    <h4 class="text-muted fw-semibold">En needer puedes ser tu mismo puedes publicar, consumir, vender o comprar productos multimedia.</h4>
  </div>


  <div class="row text-center justify-content-center my-5">
    <div class="col-lg-6 col-sm-12 row mb-5 text-center justify-content-center">
      <div class="col-lg-4 col-sm-12 mb-3"><img class="img-fluid" src="{% static 'img/Logo_Foto.svg'%}" width="200px"/></div>
      <div class="col-lg-8 col-sm-12 text-sm-center text-lg-start row">
        <h3 class="fw-bold text-muted">Foto</h3>
        <p>Vende o compra fotos, no habra limites para tus gustos*.</p>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12 row mb-5 justify-content-center">
      <div class="col-lg-4 col-sm-12  mb-3"><img class="img-fluid" src="{% static 'img/Logo_video_2.svg'%}" width="200px"/></div>
      <div class="col-lg-8 col-sm-12 text-sm-center text-lg-start row">
        <h3 class="fw-bold text-muted mb-0">Video</h3>
        <p>Visualiza o produce videos para tus fans.</p>
      </div>
    </div>

    <div class="justify-content-center">
      <a href="{% url 'account_login' %}" class="btn btn-registro btn-primary rounded-pill px-4  btn-lg">Continuar</a>
    </div>

    <div class="col-lg-8 row justify-content-around estrellas  my-5">
      <div class="text-center col-md-4 mb-4">
        <img src="{% static 'img/Estrellas.svg'%}" width="200px">
        <h5 class="mt-3">"En Needer encontre a mis creadores de contenido favoritos."</h5>
      </div>
      <div class="text-center col-md-4 mb-4">
        <img src="{% static 'img/Estrellas.svg'%}" width="200px">
        <h5 class="mt-3">"Facilitan la venta de contenido multimedia, desde el marketplace."</h5>
      </div>
      <div class="text-center col-md-4 mb-4">
        <img src="{% static 'img/Estrellas.svg'%}" width="200px">
        <h5 class="mt-3">"Esta red social es la mejor, puedo interactuar con lo que me gusta."</h5>
      </div>
    </div>
   
  </div>

  <div class="container-fluid vistas-home justify-content-center text-center">
    <img class="img-fluid" width="80%" src="{% static 'img/Imagen_Vistas.png' %}"/>
  </div>

</div>
</section>





<!--Preguntas y respuetas-->
<section class="acordeones bg-terciary py-5">
  <div class="container justify-content-center mb-5">
    <div class="accordion" id="accordionExample">
      
      
      <div class="accordion-item mb-5 mt-5 rounded">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="fw-bold">¿Que es Needer?</h4>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Needer.com.co</strong> es una plataforma puedes utilizar las funcionalidades de una Red Social, permitiéndote realizar publicaciones (Fotos, vídeos o audios), intercambiar mensajes con otros personas, seguir a otros usuarios, ver sus publicaciones, etc. También, puedes utilizar el apartado de Marketplace de Contenido Multimedia <code class="fw-bold">(*ACTUALMENTE EN DESARROLLO*)</code> , teniendo acceso a los distintos Productos Multimedia (Fotos, vídeos y audios) genéricos o personalizados, ofrecidos por unidad, que tu o otros usuarios pueden subir una vez estén verificados en la plataforma como creadores de contenido.

          </div>
        </div>
      </div>
      
      
      
      <div class="accordion-item mb-5 rounded">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h4 class="fw-bold">¿Quienes estan en Needer?</h4>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>En Needer</strong> podras encontrar todo tipo de personas, desde los <strong class="fw-bold text-primary">Creadores de Contenido mas famosos</strong>  hasta usuarios como tu. En la plataforma podras filtrar las busquedas por el tipo de Creador de Contenido o usuario que busques, ya sea por su nombre, tipo de creador (artista, modelo, deportista, etc) o por su nombre de usuuario o apodo.
          </div>
        </div>
      </div>
      
      
      
      <div class="accordion-item mb-5 rounded">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h4 class="fw-bold">¿Como puedo vender en Needer?</h4>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Se un Creador de Contenido.</strong> Para poder vender en la plataforma deberas primero acceder al apartado de registro <code class="fw-bold">(*ACTUALMENTE EN DESARROLLO*)</code> donde se verificara tu identidad. Una vez registrado, deberas vincular una cuenta bancaria y podras empezar a vender y obtener ganancias.
          </div>
        </div>
      </div>
      
      
      
    </div>
  </div>
</section>


<!--Ultimo mensaje-->

<section class="ultimo-mensaje my-5">

<div class="container py-5">

  <div class="row">

    <div class="text-center mb-4">
    <h1 class="fw-bold"> Estas listo para vivir experiencias con tus famosos favoritos? </h1>
    </div>

    <div class="text-center">
      <a href="{% url 'account_signup' %}" class="btn btn-primary btn-registro px-4 rounded-pill  btn-lg">Registrate</a>
      </div>
  
  </div>

</div>

</section>


{% include 'main/footer.html' %}

{% endblock content%}

{% block script %}

<script src="{% static 'js/home.js' %}" async defer></script>
{% endblock script %}