.pub-video{
    min-width: 100% !important;
    min-height: 100% !important;
    padding: 0 !important;
    object-fit: fill !important;
}

.pub-img{
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    object-fit: cover;
 }


audio::-webkit-media-controls-panel{
    background-color: #ffffff;
    }
    
audio{
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    border-radius: 0px !important;

}