body, html {
    height:auto;
    overflow: hidden;
}

/*
 * Off Canvas sidebar at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 992px) {

  .sidebar-offcanvas {
    display: none;
  }
  
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
    .sidebar-offcanvas {
        display: none;
      }

}



.collapse-elements{
  height: 100vh!important;
}

.collapse .show{
  display: flex;
  align-items: center;
}

 .show .nav-link:focus{
  color: #5C28FF;
}

.active{
  color: #5C28FF;
}




