.update-imagen{
    width: 200px;
    height: 200px;
    background-size: cover;
    border: 4px solid #dbdbdb;
}
.container-fluid{
    list-style-type: none;
}
.editado{
    font-size: 0.6em!important;
}

.img-derecha{
    height: 55px;
    width: 55px;
    border: 2px solid #d1d1d1;
}


.update-imagen:hover{
    border: 4px solid #D1D1FF;
}

.update-imagen:focus{
    border: 4px solid #D1D1FF;
}

.new-post-button:hover{
    border:none;
    background-color: #dbdbdb;

}

.new-post-button{
    background-color: #f0f2f5;
}

.categorias-badges:hover{
    color: #A3A3FF;
    transform: translateY(-1px);

}

.categorias-badges{
    text-decoration: none;
}

.icono-seguidores:hover{
    color: red;
    cursor: pointer;
}

.icono-dinero:hover{
    color:green;
    cursor: pointer;
}

.profile-img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: 2px solid #d1d1d1;
  }



.profile-img-qtg{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border: 1px solid #d1d1d1;
}

@media screen and (max-width:1283px){
    .profile-img-qtg{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border: 1px solid #d1d1d1;
        columns: 1;
    }

    .img-derecha{
        height: 40px;
        width: 40px;
        border: 2px solid #d1d1d1;
    }
}

  .divbib{
      display: none;
      position: static;
      height: 100%;
  }

  .texti{
    font-size: small;
  }

  @media screen and (min-width:992px) {
    .divbib{ 
        position: sticky !important;  
        top:0 ;    
        height: 100%;
        display: flex;
    }
    
}

.img-comment{
    height: 55px;
    width: 55px;
    border: 2px solid #d1d1d1;
}



@media screen and (max-width:570px){

    .img-derecha{
        height: 40px;
        width: 40px;
        border: 2px solid #d1d1d1;
    }


    .img-comment{
        height: 40px;
        width: 40px;
        object-fit: cover;
        border: 2px solid #d1d1d1;
        columns: 1;
    }

    .autor-comentario{
        display: list-item!important;
    }

    .autor-publicacion{
        display: list-item!important;
    }

    .autor-publicacion h4{
        font-size:1em
    }

    .autor-publicacion p{
        font-size: 0.8em!important;
    }
}

@media screen and (max-width:380px){
    .autor-comentario h5{
        font-size: 0.9em!important;
    }

    .autor-comentario p{
        font-size: 0.7em!important;
    }
}

.botones-interaccion{
    font-size: 1.2em!important;
}

#boton-comentar{
    font-size: 1.2em!important;
}



