

.btn-registro{
    font-weight: bolder;
    border-color: #5C28FF!important;
}

.btn-registro:hover{
    background-color: #3131B3!important;
    box-shadow: 0 0 6px #3131B3; 
}

.hero{
    background-color: #5C28FF;
}

.hero h1, .hero p{
    color: #FFFF;
}

@media (max-width: 992px) {
    .li-registro{
        background-color: #5C28FF;
    }
    .btn-primary{
        border: none;
    }
    .imagen-derecha{
        display: none!important;
    }

    .text-iz{
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .vistas-home{
        display: none;
    }

  
}

.nav-titulo{
    font-weight: bold;
    color:#5C28FF;
    font-size: 1.5rem;
}

.form-hero-input{
    border-radius: 0px 0px 0px 0px;
    border-left: 0px solid;
}

.form-hero-input:focus{
    outline: none !important;
    border:none!important;
    box-shadow: none!important;
}



.span-hero{
    border-radius: 5px 0px 0px 5px;
    background-color: #FFFF;

}

.form-hero .btn-buscar-hero{
    border-left: 0px;
    border-radius: 0px 0.375rem 0.375rem 0px ;
    border-color:#3131B3;
}

.form-hero{
    max-width: 100vw!important;
}

.titulo-categorias{
    font-size: 4rem!important;
}

.titulo-caracteristicas{
    color:#5C28FF;
}






.acordeones .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235C28F'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }

.footer h1, .footer p, .footer a{
    color:#ffff!important;
}

.footer .nav .nav-item:hover{
    transform: translateY(-2px);
}




