body, html{
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

a, button, p{ 
    font-family: 'Inter', sans-serif;
   
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Source Sans Pro', sans-serif;
}

.bg-primary{
    background-color: #5C28FF!important;
}

.btn-primary{
    background-color: #5C28FF!important;
    border: #5C28FF 1px solid;
}

.btn-secondary{
    background-color: #3131B3!important;

}

.btn-terciary{
    color: #ffffff !important;
    background-color: #A3A3FF!important;

}

.bg-terciary{
    background-color: #A3A3FF;
}

.text-primary{
    color:#5C28FF!important;
}

.text-secondary{
  color: #3131B3!important;
}

.text-terciary{
  color: #A3A3FF;
}

.google{
    color:#dd4b39;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: black #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

.alert-error{
  --bs-alert-color: #842029;
  --bs-alert-bg: #f8d7da;
  --bs-alert-border-color: #f5c2c7;
}

.messages{
  padding-left: 0px!important;
  padding-right: 0px!important;
}


