body, html{
    max-width: 100vw;
    overflow-x: hidden;
}

a, button, p{ 
    font-family: 'Inter', sans-serif;
   
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Source Sans Pro', sans-serif;
}

.bg-primary{
    background-color: #5C28FF!important;
}

.btn-primary{
    background-color: #5C28FF!important;
}

.btn-secondary{
    background-color: #3131B3!important;

}



