.main{
    padding-top: 0 !important;
}
.imgbanner{
    margin: 0 !important;
    width: 100% !important;
    max-height: 350px;
    min-height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none !important;
    border-radius: 10px 10px 10px 10px;
}

@media screen and (min-width:992px) {
    .imgbanner{ 
        min-height: 300px;
    }
    
}

.update-imagen{
    width: 250px;
    height: 250px;
    border: 2px solid #dbdbdb;
    left: 10%;
    top: 5%;
    margin-top: -100px;
    margin-left: 20px;
    object-fit: cover;
}

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.30) 2.4px 2.4px 3.2px;
}

.new-post-button:hover{
    border:none;
    background-color: #dbdbdb;

}

.new-post-button{
    background-color: #f0f2f5;
}


a:hover {
    color: #414b52;
}
.categorias-badges{
    color:#414b52; 
    font-size: 15px;
    text-decoration: none;
}
.icono-seguidores:hover{
    color: red;
    cursor: pointer;
}

.icono-dinero:hover{
    color:green;
    cursor: pointer;
}

.tuerca{
    font-size: 3rem!important;
    color: #5C28FF;
  }

.tuerca:hover{
    color: #A3A3FF;
}

@media screen and (max-width:896px) {
    .imgbanner{ 
        min-height: 150px;
    }
    .tuerca{ 
       font-size: 1rem !important;
    }
    .h11{
        margin: 0px 0px;
        font-size: large !important;
    }
    .h22{
        margin: 0px 0px;
        font-size: larger !important;
    }
    .h44{
        margin: 0px 0px;
        font-size: medium !important;
    }
    .update-imagen{
        margin-top: -30px;
        margin-left: 20px;
        max-width: 100px;
        max-height: 100px;
    }
}

@media screen and (max-width:414px){
    .update-imagen{
        max-width: 70px;
        max-height: 70px;
        margin-top: -20px;
        margin-left: 10px;
    }
    .h11{
        margin: 0px 0px;
        font-size:medium !important;
    }
    .h22{
        margin: 0px 0px;
        font-size:small !important;
    }
    .h44{
        margin: 0px 0px;
        font-size: xx-small !important;
    }
}

.profile-img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border: 1px solid #d1d1d1;
}


  .divbib{
      display: none;
      position: static;
      height: 100%;
  }

  .div-galeria{
    height: 40vh;
    width: 30%;
    margin-bottom: 5%;
    overflow: hidden;
    object-fit: contain;
  }



  @media screen and (max-width:1020px) {
    .div-galeria{
        height: 25vh;
        width: 45%;
        margin-bottom: 5%;
      }
    
  }

  @media screen and (min-width:374px) {
    .div-galeria-container{
        justify-content: space-between !important;
    }
    
  }

  @media screen and (min-width:992px) {
    .divbib{ 
        position: sticky !important;  
        top:0 ;    
        height: 100%;
        display: flex;
    }
    
}




