.update-imagen{
    width: 200px;
    height: 200px;
    background-size: cover;
    border: 4px solid #dbdbdb;
}

.update-imagen:hover{
    border: 4px solid #D1D1FF;
}

.update-imagen:focus{
    border: 4px solid #D1D1FF;
}

.new-post-button:hover{
    border:none;

}


.categorias-badges:hover{
    color: #A3A3FF;
    transform: translateY(-1px);

}

.categorias-badges{
    text-decoration: none;
}

.icono-seguidores:hover{
    color: red;
    cursor: pointer;
}

.icono-dinero:hover{
    color:green;
    cursor: pointer;
}
