.chat{
    position: sticky !important;    
      height: 20%;
      display: flex;
      margin-top: -50px !important;
}

.form-control{
    border-radius: 2rem !important;
}

.info{
    height: 15% !important;
}

.main{
    overflow: hidden !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
}

.userbox{
    height: 75% !important;
}
  
  .img-static{
    height: 85px;
    width: 85px;
    object-fit: cover;
  }

  .img-perfil{
    height: 60px;
    width: 60px;
    object-fit: cover;
  }

  .nombreape{
    font-size: 2rem !important;
    font-weight: bold !important;
  }

  .nombreuser{
    padding: 10px !important;
    font-size: smaller !important;
    color: #ffff !important;
  }

  .nombrearriba{
    font-size: large !important;
    font-weight: bold !important;
  }
  
  .btn{
    z-index: auto !important;
  }

  .mensajes{
    background-color: #5C28FF;
  }

  .respuesta{
    background-color: #a3a3ff;
  } 

  .smile{
    background-color: #ffff !important;
    color:#737373 !important;
    font-size: 2rem !important;
    
  }

@media screen and (max-width:670px) {
    .mensajereb{
        display: none !important;
    }
    .mensaje{
        display: none !important;
    }

    .img-static{
        height: 40px;
        width: 40px;
        object-fit: cover;
        height: 100%;
        padding-top: 5px !important;
        padding-bottom: 5px !important;

    }
    
}