.chat{
    position: sticky !important;    
    height: 5%;
    display: flex;
}

.form-control{
    border-radius: 2rem !important;
}

.info{
    height: 25% !important;
}

.main{
    overflow: hidden !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
}

.userbox{
    height: 60% !important;
}
  
  .img-static{
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    
  }

  .img-perfil{
    height: 60px;
    width: 60px;
    object-fit: cover;
  }

@media screen and (max-width:375px) {
  .img-perfil{
    display: none;
  }
  .chat{
    position: sticky !important;    
      height: 25%;
      display: flex;
      margin-top: -55px !important;
  }

}

  .nombreape{
    font-size: 2rem !important;
    font-weight: bold !important;
  }

  .nombreuser{
    padding: 10px !important;
    font-size: smaller !important;
    color: #ffff !important;
  }

  .nombrearriba{
    font-size: large !important;
    font-weight: bold !important;
  }
  
  .btn{
    z-index: auto !important;
  }

  .mensajes{
    background-color: #a3a3ff;
  }

  .respuesta{
    background-color: #5C28FF;
  } 

  .smile{
    background-color: #ffff !important;
    color:#737373 !important;
    font-size: 2rem !important;
    
  }
