{% extends innercontent %}
{% load static %}
{% load pub_extras %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/perfil-creador.css'%} ">
<link rel="stylesheet" href="{% static 'css/publicacion.css'%} ">
{% endblock css %}

{% block headtitle %}
Needer | {{object.username}}
{% endblock headtitle %}

{% block inner-content %}
<div class="container pb-4" id="contenido">
    <!--Datos personales-->
    <div class="seccion-arriba w-100 row mx-0">
        <!--Banner-->
        {% if object.banner %}
        <button
            type="button"
            data-bs-toggle="#"
            data-bs-target="#exampleModal"
            class="col-12 btn img-fluid imgbanner"
            style="background-image: url('{{object.banner.url}}');"
        ></button>
        {% else %}
        <button
            type="button"
            data-bs-toggle="#"
            data-bs-target="#exampleModal"
            class="col-12 btn img-fluid imgbanner"
            style="background-image: url('{% static 'img/placeholder-banner.png' %}');"
        ></button>
        {% endif %}
        <!--FOTO-->
        <div class="col-xl-3 col-lg-4 col-md-4 text-center mb-0 mb-sm-3 px-0 mx-0 align-items-center">
            {% if object.foto %}
            <button
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                class="col-12 btn rounded-circle overflow-hidden update-imagen img-fluid"
                style="background-image: url({{object.foto.url}}); object-fit: cover;"
            ></button>
            {% else %}
            <button
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                class="col-12 btn rounded-circle overflow-hidden update-imagen img-fluid"
                style="background-image: url('{% static 'img/default-profile.png' %}');"
            ></button>
            {% endif %}
        </div>
        <!--Texto Informacion-->
        <div class="col-xl-7 col-lg-6 col-md-6 d-flex align-items-center container g-2 justify-content-center">
            <div class="w-100 col-12 d-table-cell align-bottom row g-2  text-break text-lg-start text-md-start text-sm-center text-center">
                {% if object.apodo %}
                <h2 class="text-primary fw-bold mb-0 mb-sm-2 mw-100">
                    {{object.apodo}}
                </h2    >
                <h3 class="text-muted">@ {{object.username}}</h3>
                {% else %}
                <h2 class="text-primary fw-bold mb-0 mb-sm-2 mw-100">
                    {{object.username}}
                </h2>
                {% endif %}
                <h4 class="text-muted">
                    <i class="bi bi-geo-alt"></i>
                    {{object.pais}}
                </h4>
                <h4 class="text-muted mb-0">needer.com.co/{{object.slug}}</h4>
            </div>
        </div>
        <!--Ajustes-->
        <div class="col-md-2 d-flex align-items-end container g-2 justify-content-center">
            <div class="w-100 col-12 d-table-cell align-bottom row g-2 text-lg-start text-sm-center text-center">
                {% if request.user == object %}
                <h3 class="py-2 text-primary">
                    <a href="{% url 'account_profile' %}">
                        <i class="bi bi-gear"></i>
                    </a>
                </h3>
                {% else %}
                <h3 class="py-2 text-primary">
                    <a class="btn btn-primary rounded-pill" href="{% url 'account_profile' %}">Seguir</a>
                </h3>
                {% endif %}
            </div>
        </div>
    </div>
    <!--Navegacion secundaria-->
    <div class="mb-4 px-0 container-fluid my-4 d-flex justify-content-lg-start justify-content-md-start justify-content-sm-center justify-content-center border-bottom mb-3 pre-ajustes">
        {% with url_name=request.resolver_match.url_name %}
        <a class="mx-auto mx-lg-3 mx-xl-3 mx-md-3 mx-sm-auto ms-md-0 ms-lg-0 ms-xl-0 mb-0 fw-bolder text-muted border-0 text-decoration-none  text-center
        {% if url_name == 'detalle-creador' %}active {% endif %}" href="{{object.get_absolute_url}}">
            <h2 class="mb-0">Perfil</h2>
        </a>
        <a class="mx-auto mx-lg-3 mx-xl-3 mx-md-3 mx-sm-auto ms-md-0 ms-lg-0 ms-xl-0 mb-0 fw-bolder text-muted text-decoration-none text-center" href="#">
            <h2 class="mb-0">Galeria</h2>
        </a>
        <a class="mx-auto mx-lg-3 mx-xl-3 mx-md-3 mx-sm-auto ms-md-0 ms-lg-0 ms-xl-0 mb-0 fw-bolder text-muted border-0 text-decoration-none text-center
        {% if url_name == 'account_change_password' %}active {% endif %}" href="{% url 'account_change_password' %}">
            <h2 class="mb-0">Marketplace</h2>
        </a>
        {% endwith %}
    </div>
    <!--Contenido interno-->
    <div class="my-4 container-fluid row w-100 mx-0 d-flex justify-content-lg-between justify-content-md-center justify-content-sm-center justify-content-center">
        <!--Bibliografria-->
        <div class="row py-4 col-sm-12 col-lg-5 rounded shadow bg-white mb-4 mb-sm-5 mb-lg-0 mb-md-5 mb-xs-5 divbib">
            <!--Bibliografia-->
            <h3 class="text-primary">Bibliografía</h3>
            <p class="text-muted text-break">{{object.biografia}}</p>
            <!--link-->
            {% if object.link %}
            <a href="{{object.link}}" class="text-secondary fst-italic fw-light text-decoration-none">
                <i class="bi bi-link-45deg"></i>
                {{object.link}}
            </a>
            {% endif %}
            <!--Tipo de celebridad-->
            <div class="container-fluid justify-content-between my-3 ">
                {% for tipo in object.tipo_celebridad.all %}
                <a href="#" class="categorias-badges btn-secondary px-2 mb-2 mx-2 badge rounded-pill col text-center text-decoration-none">{{tipo.nombre}}</a>
                {% endfor %}
            </div>
            <!--Rango del creador-->
            <div class="container-fluid my-3">
                <h3 class="text-primary">Interacciones</h3>
                <div class="row d-flex justify-content-center align-items-center mt-4">
                    {% if object.user.verificado %}
                    <div class="row col-md-6 col-sm-12 text-center justify-content-center align-items-center d-flex icono-dinero">
                        <h4>
                            <i class="bi bi-coin fw-bold"></i>
                        </h4>
                        <h5 class="fw-bold">213456</h5>
                        <h6 class="text-muted">Ventas</h6>
                    </div>
                    {% endif %}
                    <div class="row col-md-6 col-sm-12 text-center justify-content-center align-items-center d-flex icono-seguidores">
                        <h4>
                            <i class="bi bi-person-hearts"></i>
                        </h4>
                        <h5 class="fw-bold">7534</h5>
                        <h6 class="text-muted">Seguidores</h6>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Contenido a la derecha UWU -->
        <div class="d-flex justify-content-center row container-fluid col-sm-12 col-lg-7 px-0 contenido-derecha">
            <!--TODOS LOS DIVS DENTRO DEL CONTENIDO DERECHA DEBEN IR CON PX-0 Y CONTAINER FLUID-->
            {% if request.user == object %}
            <!--Esto crea publicación-->
            <div class="row container-fluid px-0 bg-white rounded shadow py-4 d-flex justify-content-center align-items-center mb-3" style="height:auto;">
                <!--BOTON FOTO-->
                <div class="col-lg-2 col-md-2 col-xl-2 col-sm-12   col-12 justify-content-center d-flex pe-lg-0 pe-xl-0 pe-md-0 pe-sm-auto pe-auto">
                    <a href="{{object.get_absolute_url}}" class="mb-lg-0 mb-md-0 mb-sm-3 mb-3 mb-xl-0 text-center text-sm-center text-md-start text-lg-start text-xl-start">
                        {% if object.foto %}
                        <img
                            class="rounded-circle img-fluid profile-img"
                            alt="profile"
                            src="{{object.foto.url}}"
                            data-holder-rendered="true"
                        >
                        {% else %}
                        <img
                            class="rounded-circle img-fluid profile-img"
                            alt="profile"
                            src="{% static 'img/default-profile.png' %}"
                            data-holder-rendered="true"
                        >
                        {% endif %}
                    </a>
                </div>
                {% comment %} componente para crear publicaciones {% endcomment %}
                {% include 'social/user/Componente-crear-publi.html' %}
            </div>
            {% endif %}


                {% if not object_list %}
            <div class="col-12 text-center rounded shadow">
                <h1 class="mb-2">Aun no tienes publicaciones!</h1>
                <h2 class="mb-2 text-muted">
                    <small>Que esperas apra crear una?</small>
                </h2>
                <img
                    class="mt-4 mb-3"
                    src="{% static 'img/empty.svg'%}"
                    class="img-fluid"
                    width="50%"
                >
            </div>
            {% else %}
            <!--Publicaciones con mas LIKES!-->
            <div class="col-12 text-center rounded shadow mt-4">
                <h2 class="fw-bold text-secondary fw-bold mt-3">Publicaciones con más likes!</h2>
                <div class="row py-3 border-bottom align-items-center justify-content-around d-flex">
                    <img
                        class="img-fluid profile-img-public col-md-4 col-sm-4"
                        alt="profile"
                        src="{% static 'img/default-profile.png' %}"
                        data-holder-rendered="true"
                    >
                    <h4 class="col-md-6 col-sm-8 text-break text-center fw-bold">Texto de la publicación</h4>
                    <h3 class="col-md-2 col-sm-12 my-sm-3 fw-bold">
                        3487
                        <i class="bi bi-hearts text-terciary"></i>
                    </h3>
                </div>
                <div class="row py-3 border-bottom align-items-center justify-content-around d-flex">
                    <img
                        class="img-fluid profile-img-public col-md-4 col-sm-4"
                        alt="profile"
                        src="{% static 'img/default-profile.png' %}"
                        data-holder-rendered="true"
                    >
                    <h4 class="col-md-6 col-sm-8 text-break text-center fw-bold">Texto de la publicación</h4>
                    <h3 class="col-md-2 col-sm-12 my-sm-3 fw-bold">
                        3487
                        <i class="bi bi-hearts text-terciary"></i>
                    </h3>
                </div>
                <div class="row py-3 align-items-center justify-content-around d-flex">
                    <img
                        class="img-fluid profile-img-public col-md-4 col-sm-4"
                        alt="profile"
                        src="{% static 'img/default-profile.png' %}"
                        data-holder-rendered="true"
                    >
                    <h4 class="col-md-6 col-sm-8 text-break text-center fw-bold">Texto de la publicación</h4>
                    <h3 class="col-md-2 col-sm-12 my-sm-3 fw-bold">
                        3487
                        <i class="bi bi-hearts text-terciary"></i>
                    </h3>
                </div>
            </div>
            {% comment %} Visualizacion de publicaciones {% endcomment %}
            {% include 'social/user/publicaciones-ajax.html' %}
            {% endif %}
            <!--END CONTENIDO DERECHA-->
        </div>
    </div>
</div>
{% include 'social/user/foto-perfil-modal.html' %}

{% endblock inner-content %}

{% block script %}
<script src="https://unpkg.com/infinite-scroll@4.0.1/dist/infinite-scroll.pkgd.min.js"></script>
<script src="{% static 'js/load-more-ajax.js' %}"></script>
{% endblock script %}
