{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% endblock css %}
<section class="navegacion w-100">
<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid d-flex justify-content-between w-100">
      <div class="col-6">
        <a class="navbar-brand ms-5 nav-titulo" href="{% url 'home-view' %}">
            <img src="{% static 'img/Needer_logo.svg' %}" alt=""  width="40" height="40"  class="d-inline-block align-content-center">
          </a>

      </div>
           

          <div class="d-md-none right-elements d-lg-flex align-items-end justify-content-end float-end col-6">
            <a class="col-1 nav-link fw-bolder notificacion me-4" href="#"><i class="bi bi-bell"></i></a>
          </div>

      <button class="navbar-toggler me-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      
      
      
      <div class="collapse navbar-collapse overflow-auto" id="navbarText">
        <ul class="navbar-nav ms-lg-auto me-lg-5 mb-lg-0 align-items-center collapse-elements py-5">
         <li class="nav-item">
          {% with url_name=request.resolver_match.url_name %}
           <a class="nav-link" href="#"><h3 class="fw-bold"><i class="bi bi-house me-2"></i>Home</h3></a>
           </li>
           <li class="nav-item">
            <a class="nav-link fw-bold" href="#"><h3 class="fw-bold"><i class="bi bi-search me-2"></i>Buscar</h3></a>
          </li>
         <li class="nav-item">
           <a class="nav-link fw-bold" href="#"><h3 class="fw-bold"><i class="bi bi-image me-2"></i>Galeria</h3></a>
         </li>
         <li class="nav-item">
           <a class="nav-link fw-bold" href="#"><h3 class="fw-bold"><i class="bi bi-suit-heart me-2"></i>Needers</h3></a>
         </li>
         <li class="nav-item">
           <a class="nav-link fw-bold" href="#"><h3 class="fw-bold"><i class="bi bi-chat-left-text me-2"></i>Mensajes</h3></a>
         </li>
         <li class="nav-item">
           <a class="nav-link fw-bold" href="#"><h3 class="fw-bold"><i class="bi bi-wallet2 me-2"></i>Historial de compras</h3></a>
         </li>
         
         <li class="nav-item">
           <a class="nav-link {% if url_name == 'account_profile' or url_name == 'account_change_password' or url_name == 'socialaccount_connections' or url_name == 'account_email'%} active  {% endif %}
            fw-bold" href="{% url 'account_profile' %}"><h3 class="fw-bold"><i class="bi bi-gear me-2"></i>Ajustes</h3></a>
         </li>
         {% endwith %}
         <hr class="bg-primary">
         <div class="pb-5 text-center">
         <li class="nav-item"><h4><a class="nav-link text-muted fst-italic" href="#">Dona a Needer</h4></a></li>
         <li class="nav-item"><h4><a class="nav-link text-muted fst-italic" href="#">Informacion</h4></a></li>
         <li class="nav-item"><h4><a class="nav-link text-muted fst-italic" href="{% url 'account_logout' %}">Cerrar Sesion</h4></a></li>
         
       </div>
       </ul>

     </div>
   </div>
  </nav>
</section>