
{% extends innercontent %}
{% load static %}
{% load pub_extras %}




{% block css %}
<link rel="stylesheet" href="{% static 'css/home-social.css'%} ">
<link rel="stylesheet" href="{% static 'css/busqueda_contenido.css'%} ">
{% endblock css %}

{% block headtitle %}
Needer
{% endblock headtitle %}

{% block inner-content %}
<!--Contenido de adentro-->

<div class="container-fluid mx-md-5 row" id="contenido">

    {% comment %} Titulo {% endcomment %}
    <div class="col-5 d-flex justify-content-start mx-1 align-items-end px-0">
        <h1 class="text-primary fw-bold mb-0">Usuarios</h1>
    </div>
        
    {% if messages %}
    <ul class="messages list-unstyled text-center my-auto col-lg-8 mx-auto">
        {% for message in messages %}
      <div {% if message.tags %} class="mb-3 alert my-auto alert-{{ message.tags }} fw-bold"{% endif %}> <li>{{ message }}</li> </div>
        {% endfor %}
    </ul>
    {% endif %}

    {% if object_list %}
    {% comment %} Componente de buscar usuario {% endcomment %}
    <div class="row d-flex align-content-around flex-wrap container-fluid contenido">
        {% include 'social/user/componente-buscar-usuario.html' with object_list=object_list  %}
    </div>


    {% else %}
    <!--TODO NO SE ENCONTRARON USUARIOS-->
    <h1>No se encontraron usuarios</h1>
    {% endif %}

</div>


{% endblock inner-content %}

{% block script %}


{% endblock script %}








