
{% extends innercontent %}
{% load static %}
{% load pub_extras %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/home-social.css'%} ">
<link rel="stylesheet" href="{% static 'css/busqueda_contenido.css'%} ">
<link rel="stylesheet" href="{% static 'css/publicacion.css'%} ">
{% endblock css %}

{% block headtitle %}
Needer
{% endblock headtitle %}

{% block inner-content %}
<!--Contenido de adentro-->
<div class="container-fluid pb-4 d-flex justify-content-center mx-auto w-100" style="min-height: 100%;" id="contenido">

   
    {% if users == None and object_list|length == 0 %}
    <div class="row container my-auto">
        {% if messages %}
        <ul class="messages list-unstyled text-center my-auto col-lg-8 mx-auto">
            {% for message in messages %}
        <div {% if message.tags %} class="mb-3 alert my-auto alert-{{ message.tags }} fw-bold"{% endif %}> <li>{{ message }}</li> </div>
            {% endfor %}
        </ul>
        
        {% endif %}
    
    {{ users|busqueda_vacia:object_list|safe }}
    

   

    </div>

    {% elif users.count == 0 and object_list.count == 0 %}

    <div class="row container my-auto">
        {% if messages %}
        <ul class="messages list-unstyled text-center my-auto col-lg-8 mx-auto">
            {% for message in messages %}
        <div {% if message.tags %} class="mb-3 alert my-auto alert-{{ message.tags }} fw-bold"{% endif %}> <li>{{ message }}</li> </div>
            {% endfor %}
        </ul>
        
        {% endif %}
    
        {{ users|busqueda_vacia:object_list|safe }}
    

   

    </div>

    {% endif %}

    
 

    {% if users %}
    <div class="container-fluid pb-4 mx-auto w-100">
    
    
        <!--Contenido de la busqueda usuario-->
        <div class="row d-flex container-fluid justify-content-center contenido align-middle col-lg-12 px-0 mx-auto">

            <div class="col-5 d-flex justify-content-start mx-1 align-items-end px-0">
                <h1 class="text-primary fw-bold mb-0">Usuarios</h1>
            </div>
            
            <div class="col-5 d-flex justify-content-end align-items-end px-0">
                <a class="col-10 link btn-mostrar" href="{% url 'busqueda-user' %}?q={{request.GET.q}}"><h6 class="fw-bold my-auto text-secondary text-end">Ver más</h6></a>
            </div>

            {% for user in users %}
            
            
            <!--CONTENEDOR DE USUARIOS-->
            <div class="col-10 col-md-3 col-sm-5 px-0 shadow m-4 contuser">
            <!--Foto Banner Busqueda-->
                {% if user.banner %}
                <button
                    type="button"
                    data-bs-toggle="#"
                    data-bs-target="#exampleModal"
                    class="col-12 btn img-fluid bannerimg"
                    style="background-image: url('{{user.banner.url}}');"
                ></button>
                {% else %}
                <button
                    type="button"
                    data-bs-toggle="#"
                    data-bs-target="#exampleModal"
                    class="col-12 btn img-fluid bannerimg"
                    style="background-image: url('{% static 'img/placeholder-banner.png' %}');"
                ></button>
                {% endif %}
            <!--Foto Perfil Busqueda-->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-2 col-2 text-center g-0 mt-3 mb-0 mx-0">
                    {% if user.foto %}
                    <img
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        class="rounded-circle overflow-hidden busqueda-imagen img-fluid"
                        src="{{user.foto.url}}"
                    >
                    {% else %}
                    <button
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        class="col-12 btn border rounded-circle overflow-hidden busqueda-imagen img-fluid"
                        style="background-image: url('{% static 'img/default-profile.png' %}');"
                    ></button>
                    {% endif %}
                </div>

                <!--Nombres, Apodo, Bibliografia y Tipo de Celebridad-->
                <div class="row  col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center container g-2 justify-content-center px-3 mb-0">
                    <div class="w-100 col-12 d-table-cell align-bottom row g-0 text-break text-lg-start text-md-start text-sm-start text-start">
                        {% if user.first_name and user.last_name %}
                        <h4 onclick="window.open('{{user.get_absolute_url}}')" class="text-primary text-truncate fw-bold mb-0 mb-sm-2 mw-100 nombre-usuario">
                            {{user.first_name}} {{user.last_name}}
                        </h4>
                        {% else %}
                        <h4 onclick="window.open('{{user.get_absolute_url}}')" class="text-primary text-truncate fw-bold mb-0 mb-sm-2 mw-100 nombre-usuario">
                            {{user.username}}
                        </h4>
                        {% endif %}
    
                        {% if user.apodo %}
                        <h5 onclick="window.open('{{user.get_absolute_url}}')" class="text-muted text-truncate fw-bold mb-0 mb-sm-2 mw-100 apodo-user">
                            @{{user.apodo}}
                        </h5>
                        {% else %}
                        <h5 onclick="window.open('{{user.get_absolute_url}}')" class="text-muted text-truncate fw-bold mb-0 mb-sm-2 mw-100 apodo-user">
                            @{{user.username}}
                        </h5>
                        {% endif %}
                    </div>

                        {% if user.biografia %}
                            <h4 onclick="window.open('{{user.get_absolute_url}}')" class="text-muted  text-brake fw-light mb-0 mw-100 biografiauser">
                                {{user.biografia|truncatechars:80}}
                            </h4>
                            {% else %}
                            <div class="m-4">

                            </div>


                        {% endif %}

                        <div class="flex container-fluid row col-12 mx-0 px-0 justify-content-beetween">
                            {% if user.tipo_celebridad %}
                                
                                    {% for tipo in user.tipo_celebridad.all %}
                                    <div onclick="window.open('{{user.get_absolute_url}}')" class="col-5 align-items-center rounded-pill text-center fw-light mw-100 celebridad">
                                    {{tipo}}
                                    </div>
                                    {% endfor %}    
                            {% endif %}
                         </div>

                </div>

                    

            </div>

            {% endfor %}

            {% endif %}

            

        </div>

        <!--TODO QUITAR EL IF CUANDO ESTE HECHO LA BUSQUEDA DE MARKETPLACE-->
        <div class="row d-flex container-fluid justify-content-center align-middle col-lg-12 mt-2 px-0 mx-auto">

            <div class="col-5 d-flex justify-content-start mx-1 align-items-end px-0">
                <h1 class="text-primary fw-bold mb-0">Marketplace</h1>
            </div>
            
            <div class="col-5 d-flex justify-content-end align-items-end px-0">
                <a class="col-10 link btn-mostrar" href="{% url 'busqueda-user' %}?q={{request.GET.q}}"><h6 class="fw-bold my-auto text-secondary text-end">Ver más</h6></a>
            </div>
            <!--CONTENEDOR DE USUARIOS-->
            <div class="col-md-3 col-10 col-sm-5 px-0 shadow m-4 contuser">
                <img src="{% static 'img/pixel.png' %}" class="img-marketplace" alt="...">
                <div class="col-12 d-flex">
                    <h4 class="col-6 text-truncate text-muted text-start px-2 fw-bold mb-0 mt-4 ms-2 nombre-contenido-marketplace">Título</h4>
                    <div class="col-2 align-items-end rounded-pill text-center fw-bold mb-0 mw-100 audio">Audio</div>
                </div>
                <h4 class="col-6 text-truncate text-muted text-start px-2 fw-light mb-0 mt-2 ms-2 nombre-contenido-marketplace">Por NombreUsuario</h4>
                <div class="col-12 d-flex justify-content-end">
                    <div class="col-3 align-items-end rounded-pill text-center fw-light mb-0 mw-100 precio"> $40.00 </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <div class="col-3 align-items-end rounded-pill text-center fw-bold mb-0 mw-100 descuento"> -50% off </div>
                    <div class="col-3 align-items-end rounded-2 text-center fw-light mw-100 precio-2"> $20.00 </div>
                </div>
            </div>

            <div class="col-md-3 col-10 col-sm-5 px-0 shadow m-4 contuser">
                <img src="{% static 'img/pixel.png' %}" class="img-marketplace" alt="...">
                <div class="col-12 d-flex">
                    <h4 class="col-6 text-truncate text-muted text-start px-2 fw-bold mb-0 mt-4 ms-2 nombre-contenido-marketplace">Título</h4>
                    <div class="col-2 align-items-end rounded-pill text-center fw-bold mb-0 mw-100 audio">Audio</div>
                </div>
                <h4 class="col-6 text-truncate text-muted text-start px-2 fw-light mb-0 mt-2 ms-2 nombre-contenido-marketplace">Por NombreUsuario</h4>
                <div class="col-12 d-flex justify-content-end">
                    <div class="col-3 align-items-end rounded-pill text-center fw-light mb-0 mw-100 precio"> $40.00 </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <div class="col-3 align-items-end rounded-pill text-center fw-bold mb-0 mw-100 descuento"> -50% off </div>
                    <div class="col-3 align-items-end rounded-2 text-center fw-light mw-100 precio-2"> $20.00 </div>
                </div>
            </div>

            <div class="col-md-3 col-10 col-sm-5 px-0 shadow m-4 contuser">
                <img src="{% static 'img/pixel.png' %}" class="img-marketplace" alt="...">
                <div class="col-12 d-flex">
                    <h4 class="col-6 text-truncate text-muted text-start px-2 fw-bold mb-0 mt-4 ms-2 nombre-contenido-marketplace">Título</h4>
                    <div class="col-2 align-items-end rounded-pill text-center fw-bold mb-0 mw-100 audio">Audio</div>
                </div>
                <h4 class="col-6 text-truncate text-muted text-start px-2 fw-light mb-0 mt-2 ms-2 nombre-contenido-marketplace">Por NombreUsuario</h4>
                <div class="col-12 d-flex justify-content-end">
                    <div class="col-3 align-items-end rounded-pill text-center fw-light mb-0 mw-100 precio"> $40.00 </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <div class="col-3 align-items-end rounded-pill text-center fw-bold mb-0 mw-100 descuento"> -50% off </div>
                    <div class="col-3 align-items-end rounded-2 text-center fw-light mw-100 precio-2"> $20.00 </div>
                </div>
            </div>
        </div>

        <div class="row container-fluid d-flex justify-content-center align-middle col-lg-8 px-0 mx-auto rounded">
            {% if object_list %}

            {% include 'social/user/publicaciones-ajax.html' %}

            {% endif %}
        </div>

    </div>
</div>
    {% endblock inner-content %}

{% block script %}
    <script src="{% static 'js/like-comen.js' %}"></script>
    <script src="https://unpkg.com/infinite-scroll@4.0.1/dist/infinite-scroll.pkgd.min.js"></script>
    <script src="{% static 'js/load-more-ajax.js' %}"></script>
{% endblock script %}




{% if object_list %}
{{object_list}}
{% endif %}



