
{% extends innercontent %}
{% load static %}
{% load pub_extras %}




{% block css %}
<link rel="stylesheet" href="{% static 'css/home-social.css'%} ">
<link rel="stylesheet" href="{% static 'css/busqueda_contenido.css'%} ">
{% endblock css %}

{% block headtitle %}
Needer
{% endblock headtitle %}

{% block inner-content %}
<!--Contenido de adentro-->

<div class="container-fluid mx-md-5" id="contenido">

    {% comment %} Titulo {% endcomment %}
    <div class="col-5 d-flex justify-content-start mx-1 align-items-end px-0">
        <h1 class="text-primary fw-bold mb-0">Usuarios</h1>
    </div>
        
    {% if messages %}
    <ul class="messages list-unstyled text-center my-auto col-lg-8 mx-auto">
        {% for message in messages %}
      <div {% if message.tags %} class="mb-3 alert my-auto alert-{{ message.tags }} fw-bold"{% endif %}> <li>{{ message }}</li> </div>
        {% endfor %}
    </ul>
    {% endif %}

    {% if object_list %}
    {% comment %} Componente de buscar usuario {% endcomment %}
    <div class="row d-flex align-content-around flex-wrap container-fluid contenido">
        {% include 'social/user/componente-buscar-usuario.html' with object_list=object_list  %}
    </div>

    {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}" style="display:none;">More</a>
    {% else %}
        <a class="infinite-more-link" href="?page=0" style="display:none;">More</a>
    {% endif %}

    <div class="page-load-status mt-3">
    {% if page_obj.has_next %}
        <h4 class="infinite-scroll-request col-12 text-center">
            Cargando...
        </h4>
    {% endif %}
    <h3 class="my-3 infinite-scroll-error col-12 text-center text-muted">No hay mas usuarios por cargar.</h3>
    </div>
    {% else %}
    <!--TODO NO SE ENCONTRARON USUARIOS-->
    <h1>No se encontraron usuarios</h1>
    {% endif %}


{% endblock inner-content %}

{% block script %}

<script src="https://unpkg.com/infinite-scroll@4.0.1/dist/infinite-scroll.pkgd.min.js"></script>
<script src="{% static 'js/infinite-search.js' %}"></script>
{% endblock script %}








