
{% extends innercontent %}
{% load static %}
{% load pub_extras %}




{% block css %}
<link rel="stylesheet" href="{% static 'css/home-social.css'%} ">
<link rel="stylesheet" href="{% static 'css/busqueda_contenido.css'%} ">
{% endblock css %}

{% block headtitle %}
Needer
{% endblock headtitle %}

{% block inner-content %}
<!--Contenido de adentro-->
<div class="container-fluid pb-4 mx-auto w-100" id="contenido">
    

        
        
        

        <!--Contenido de la busqueda usuario-->
        <div class="row container-fluid d-flex justify-content-center align-middle col-lg-8 px-0 mx-auto shadow rounded">

            {% if messages %}
            <ul class="messages list-unstyled text-center my-auto">
                {% for message in messages %}
              <div {% if message.tags %} class="alert my-auto alert-{{ message.tags }} fw-bold"{% endif %}> <li>{{ message }}</li> </div>
                {% endfor %}
            </ul>
            {% endif %}

            {% if users %}
            <div class="col-12 d-flex justify-content-start px-0">
                <h2 class="col-xl-3 col-lg-3 col-md-2 col-sm-2 col-2 text-center fw-bold">Usuarios</h2>
            </div>
            
            {% for user in users %}
            
            <!--CONTENEDOR DE USUARIOS-->
            <div class="col-12 row d-flex justify-content-around px-0">
            <!--Foto Busqueda-->
                <div class="col-xl-3 col-lg-3 col-md-2 col-sm-2 col-2 text-center g-0 mt-3 mb-0 mb-sm-3 mx-0">
                    {% if user.foto %}
                    <button
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        class="col-12 btn border rounded-circle overflow-hidden busqueda-imagen img-fluid"
                        style="background-image: url({{user.foto.url}}); object-fit: cover;"
                    ></button>
                    {% else %}
                    <button
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        class="col-12 btn border rounded-circle overflow-hidden busqueda-imagen img-fluid"
                        style="background-image: url('{% static 'img/default-profile.png' %}');"
                    ></button>
                    {% endif %}
                </div>

                <!--Nombres y apodo-->
                <div class="row col-xl-6 col-lg-6 col-md-6 col-sm-5 col-4 d-flex align-items-center container g-2 justify-content-center">
                    <div class="w-100 col-12 d-table-cell align-bottom row g-0 text-break text-lg-start text-md-start text-sm-start text-start">
                        {% if user.first_name and user.last_name %}
                        <h4 class="text-primary text-truncate fw-bold mb-0 mb-sm-2 mw-100 nombre-usuario">
                            {{user.first_name}} {{user.last_name}}
                        </h4>
                        {% else %}
                        <h4 class="text-primary text-truncate fw-bold mb-0 mb-sm-2 mw-100 nombre-usuario">
                            {{user.username}}
                        </h4>
                        {% endif %}
    
                        {% if user.apodo %}
                        <h5 class="text-muted text-truncate fw-bold mb-0 mb-sm-2 mw-100">
                            @{{user.apodo}}
                        </h5>
                        {% else %}
                        <h5 class="text-muted text-truncate fw-bold mb-0 mb-sm-2 mw-100">
                            @{{user.username}}
                        </h5>
                        {% endif %}
                    </div>
                </div>

                    <!--Botón de seguir-->
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-4 text-center align-self-center">

                        <a class="btn btn-lg rounded-pill btn-primary fw-bold">Seguir</a>

                    </div>
                
                    

            </div>

            {% endfor %}
            <div class="col-12 d-flex justify-content-center px-0 py-3">
                <a class="col-10 text-center btn btn-mostrar" href="{% url 'busqueda-user' %}?q={{request.GET.q}}"><h3 class="fw-bold my-auto">Mostrar todos</h3></a>
            </div>
            {% endif %}

            

        </div>


        <div class="row container-fluid d-flex justify-content-around align-middle col-lg-8 mx-auto shadow mt-4">

            <div class="col-12 d-flex justify-content-start px-0">
                <h2 class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 text-center fw-bold">Marketplace</h2>
            </div>

            <div class="col-8 col-sm-3 col-md-3 col-lg-3 col-xl-3 px-0 py-0 border mb-3">
                <img src="{% static 'img/default-profile.png' %}" class="img-fluid" alt="...">
                <h4 class="text-truncate text-white text-center px-2 fw-bold mb-0 nombre-contenido-marketplace" style="background-color: #5C28FF;">Nombre y Apellido</h4>
              </div>

              <div class="col-8 col-sm-3 col-md-3 col-lg-3 col-xl-3 px-0 py-0 border mb-3">
                <img src="{% static 'img/default-profile.png' %}" class="img-fluid" alt="...">
                <h4 class="text-truncate text-white text-center px-2 fw-bold mb-0 nombre-contenido-marketplace" style="background-color: #5C28FF;">Nombre y Apellido</h4>
              </div>

              <div class="col-8 col-sm-3 col-md-3 col-lg-3 col-xl-3 px-0 py-0 border mb-3">
                <img src="{% static 'img/default-profile.png' %}" class="img-fluid" alt="...">
                <h4 class="text-truncate text-white text-center px-2 fw-bold mb-0 nombre-contenido-marketplace" style="background-color: #5C28FF;">Nombre y Apellido</h4>
              </div>

            <div class="col-12 d-flex justify-content-center px-0 py-3">
                <a class="col-10 text-center btn btn-mostrar" href="#"><h3 class="fw-bold my-auto">Mostrar todos</h3></a>
            </div>


            
        </div>

        <div class="row container-fluid d-flex justify-content-center align-middle col-lg-8 px-0 mx-auto rounded">
            {% if object_list %}

            {% include 'social/user/publicaciones-ajax.html' %}

            {% else %}
                

            {% endif %}
        </div>


</div>
    {% endblock inner-content %}

{% block script %}
    <script src="{% static 'js/like-comen.js' %}"></script>
    <script src="https://unpkg.com/infinite-scroll@4.0.1/dist/infinite-scroll.pkgd.min.js"></script>
    <script src="{% static 'js/load-more-ajax.js' %}"></script>
{% endblock script %}




{% if object_list %}
{{object_list}}
{% endif %}



