
{% extends innercontent %}
{% load static %}
{% load pub_extras %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/home-social.css'%} ">
<link rel="stylesheet" href="{% static 'css/busqueda_contenido.css'%} ">
<link rel="stylesheet" href="{% static 'css/publicacion.css'%} ">
{% endblock css %}

{% block headtitle %}
Needer
{% endblock headtitle %}

{% block inner-content %}
<!--Contenido de adentro-->
<div class="container-fluid pb-4 d-flex justify-content-center mx-auto w-100" style="min-height: 100%;" id="contenido">

   
    {% if users == None and object_list|length == 0 %}
    <div class="row container my-auto">
        {% if messages %}
        <ul class="messages list-unstyled text-center my-auto col-lg-8 mx-auto">
            {% for message in messages %}
        <div {% if message.tags %} class="mb-3 alert my-auto alert-{{ message.tags }} fw-bold"{% endif %}> <li>{{ message }}</li> </div>
            {% endfor %}
        </ul>
        
        {% endif %}
    
    {{ users|busqueda_vacia:object_list|safe }}
    

   

    </div>

    {% elif users.count == 0 and object_list.count == 0 %}

    <div class="row container my-auto">
        {% if messages %}
        <ul class="messages list-unstyled text-center my-auto col-lg-8 mx-auto">
            {% for message in messages %}
        <div {% if message.tags %} class="mb-3 alert my-auto alert-{{ message.tags }} fw-bold"{% endif %}> <li>{{ message }}</li> </div>
            {% endfor %}
        </ul>
        
        {% endif %}
    
        {{ users|busqueda_vacia:object_list|safe }}
    

   

    </div>

    {% endif %}

    
 

    {% if users or page_obj %}
    <div class="container-fluid pb-4 mx-auto w-100">
    
        {% if users %}
        <!--Contenido de la busqueda usuario-->
        <div class="row d-flex container-fluid justify-content-center contenido align-middle col-lg-12 px-0 mx-auto">

            <div class="col-5 d-flex justify-content-start mx-1 align-items-end px-0">
                <h1 class="text-primary fw-bold mb-0">Usuarios</h1>
            </div>
            
            <div class="col-5 d-flex justify-content-end align-items-end px-0">
                <a class="col-10 link btn-mostrar" href="{% url 'busqueda-user' %}?q={{request.GET.q}}"><h6 class="fw-bold my-auto text-secondary text-end">Ver más</h6></a>
            </div>
            
            {% comment %} Componente de buscar usuario {% endcomment %}
            {% include 'social/user/componente-buscar-usuario.html' with object_list=users%}
        
            

            

        </div>
        {% endif %}

        
        <!--TODO QUITAR EL IF CUANDO ESTE HECHO LA BUSQUEDA DE MARKETPLACE-->
        <div class="row d-flex container-fluid justify-content-center align-middle col-lg-12 mt-2 px-0 mx-auto">

            <div class="col-5 d-flex justify-content-start mx-1 align-items-end px-0">
                <h1 class="text-primary fw-bold mb-0">Marketplace</h1>
            </div>
            
            <div class="col-5 d-flex justify-content-end align-items-end px-0">
                <a class="col-10 link btn-mostrar" href="{% url 'busqueda-user' %}?q={{request.GET.q}}"><h6 class="fw-bold my-auto text-secondary text-end">Ver más</h6></a>
            </div>
            <!--CONTENEDOR DE USUARIOS-->
            <div class="col-md-3 col-10 col-sm-5 px-0 shadow m-4 contuser">
                <img src="{% static 'img/pixel.png' %}" class="img-marketplace" alt="...">
                <div class="col-12 d-flex">
                    <h4 class="col-6 text-truncate text-muted text-start px-2 fw-bold mb-0 mt-4 ms-2 nombre-contenido-marketplace">Título</h4>
                    <div class="col-2 align-items-end rounded-pill text-center fw-bold mb-0 mw-100 audio">Audio</div>
                </div>
                <h4 class="col-6 text-truncate text-muted text-start px-2 fw-light mb-0 mt-2 ms-2 nombre-contenido-marketplace">Por NombreUsuario</h4>
                <div class="col-12 d-flex justify-content-end">
                    <div class="col-3 align-items-end rounded-pill text-center fw-light mb-0 mw-100 precio"> $40.00 </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <div class="col-3 align-items-end rounded-pill text-center fw-bold mb-0 mw-100 descuento"> -50% off </div>
                    <div class="col-3 align-items-end rounded-2 text-center fw-light mw-100 precio-2"> $20.00 </div>
                </div>
            </div>

            <div class="col-md-3 col-10 col-sm-5 px-0 shadow m-4 contuser">
                <img src="{% static 'img/pixel.png' %}" class="img-marketplace" alt="...">
                <div class="col-12 d-flex">
                    <h4 class="col-6 text-truncate text-muted text-start px-2 fw-bold mb-0 mt-4 ms-2 nombre-contenido-marketplace">Título</h4>
                    <div class="col-2 align-items-end rounded-pill text-center fw-bold mb-0 mw-100 audio">Audio</div>
                </div>
                <h4 class="col-6 text-truncate text-muted text-start px-2 fw-light mb-0 mt-2 ms-2 nombre-contenido-marketplace">Por NombreUsuario</h4>
                <div class="col-12 d-flex justify-content-end">
                    <div class="col-3 align-items-end rounded-pill text-center fw-light mb-0 mw-100 precio"> $40.00 </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <div class="col-3 align-items-end rounded-pill text-center fw-bold mb-0 mw-100 descuento"> -50% off </div>
                    <div class="col-3 align-items-end rounded-2 text-center fw-light mw-100 precio-2"> $20.00 </div>
                </div>
            </div>

            <div class="col-md-3 col-10 col-sm-5 px-0 shadow m-4 contuser">
                <img src="{% static 'img/pixel.png' %}" class="img-marketplace" alt="...">
                <div class="col-12 d-flex">
                    <h4 class="col-6 text-truncate text-muted text-start px-2 fw-bold mb-0 mt-4 ms-2 nombre-contenido-marketplace">Título</h4>
                    <div class="col-2 align-items-end rounded-pill text-center fw-bold mb-0 mw-100 audio">Audio</div>
                </div>
                <h4 class="col-6 text-truncate text-muted text-start px-2 fw-light mb-0 mt-2 ms-2 nombre-contenido-marketplace">Por NombreUsuario</h4>
                <div class="col-12 d-flex justify-content-end">
                    <div class="col-3 align-items-end rounded-pill text-center fw-light mb-0 mw-100 precio"> $40.00 </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <div class="col-3 align-items-end rounded-pill text-center fw-bold mb-0 mw-100 descuento"> -50% off </div>
                    <div class="col-3 align-items-end rounded-2 text-center fw-light mw-100 precio-2"> $20.00 </div>
                </div>
            </div>
        </div>
        

        <div class="row d-flex container-fluid justify-content-center align-middle col-lg-10 mt-2 px-0 mx-auto">
            {% if page_obj %}

            {% include 'social/user/publicaciones-ajax-busqueda.html' %}

            {% endif %}
        </div>

    </div>
    {% endif %}
</div>
    {% endblock inner-content %}

{% block script %}
    <script src="{% static 'js/like-comen.js' %}"></script>
    <script src="https://unpkg.com/infinite-scroll@4.0.1/dist/infinite-scroll.pkgd.min.js"></script>
    <script src="{% static 'js/load-more-ajax.js' %}"></script>
{% endblock script %}




{% if object_list %}
{{object_list}}
{% endif %}



