{% load static %}
<div class="col-12 col-xl-7 col-sm-12 col-md-7 col-lg-7 gap-0 d-flex align-items-center">
    <a href="{% url 'crear-publicacion' %}" class=" text-muted text-start border-0  form-control btn btn-lg new-post-button align-middle">
        <h5 class="text-center">En qué estás pensando?</h5>
    </a>
</div>
<div class="container-fluid col justify-content-center d-flex text-cente align-middle mt-lg-0 mt-xl-0 mt-md-0 mt-sm-3 mt-3">
    <a href="{% url 'crear-publicacion' %}" class="btn btn-sm border-0 bg-outline text-muted d-flex align-items-center">
        <h4 class="fw-bold text-dark text-center">
            <i class="bi bi-upload"></i>
        </h4>
    </a>
</div>