{% load static %}
<div class="mb-4 px-0 container-fluid my-4 d-flex justify-content-lg-start justify-content-md-start justify-content-sm-center justify-content-center border-bottom mb-3 pre-ajustes">
    {% with url_name=request.resolver_match.url_name %}
    <a class="mx-auto mx-lg-3 mx-xl-3 mx-md-3 mx-sm-auto ms-md-0 ms-lg-0 ms-xl-0 mb-0 fw-bolder text-muted border-0 text-decoration-none  text-center
   " href="{{object.get_absolute_url}}">
        <h2 class="mb-0 {% if url_name == 'detalle-creador' %}active {% endif %}">Perfil</h2>
    </a>
    <a href="{% url 'galeria-social'  slug=object.slug %}" class="mx-auto  mx-lg-3 mx-xl-3 mx-md-3 mx-sm-auto ms-md-0 ms-lg-0 ms-xl-0 mb-0 fw-bolder text-muted text-decoration-none text-center" >
        <h2 class="mb-0  {% if url_name == 'galeria-social' %} active {% endif %}">Galeria</h2>
    </a>
    <a class="mx-auto mx-lg-3 mx-xl-3 mx-md-3 mx-sm-auto ms-md-0 ms-lg-0 ms-xl-0 mb-0 fw-bolder text-muted border-0 text-decoration-none text-center
    " href="">
        <h2 class="mb-0 {% if url_name == 'account_change_password' %}active {% endif %}">Marketplace</h2>
    </a>
    {% endwith %}
</div>