{% extends innercontent %}
{% load static %}
{% load pub_extras %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/detalle-publicacion.css'%} ">
{% endblock css %}

{% block headtitle %}
Needer | {{publicacion.user.username}}
{% endblock headtitle %}

{% block inner-content %}

<!--Contenido de adentro-->
<div class="my-4 pb-3 container-fluid row w-100 mx-0 d-flex justify-content-lg-between justify-content-md-center justify-content-sm-center justify-content-center">
    
    <!--Contenido de la izquierda-->
    <div class="d-flex justify-content-center row container-fluid row col-sm-12 col-lg-10 col-md-10 mx-auto px-0 shadow rounded">

        <!--Icono y titulo-->
        <div class="row border-bottom d-flex">
            <h1 class="text-center text-primary mb-0 "><a href="{{publicacion.user.get_absolute_url}}"><i class="bi bi-arrow-left text-primary float-start"></i></a>Publicacion</h1>
            
        </div>

           
        <!--Publicación-->
        <div class="row container-fluid px-0 bg-white d-flex justify-content-around align-items-center mt-2 publicacion ">
            <div class="container-fluid w-100 col-12 d-flex justify-content-start align-items-center align-middle pt-3">
                <!--Foto del usuario-->

                    <a href="{{publicacion.user.get_absolute_url}}" class="px-2 text-start my-auto">
                        {% if publicacion.user.foto %}
                                    
                        <img class="rounded-circle img-fluid profile-img-qtg" alt="profile" src="{{publicacion.user.foto.url}}"data-holder-rendered="true">
                    
                        {% else %}
                        <img class="rounded-circle img-fluid profile-img-qtg" alt="profile" src="{% static 'img/default-profile.png' %}"data-holder-rendered="true">
                                
                        {% endif %}
                        </a>
                        

            <!--Autor-->
            <div class="autor-publicacion my-auto col-8 col-md-9 col-lg-9 col-sm-8 col-xs-6 gap-0 ms-2 d-flex align-items-center align-middle h-100">
                <h4 class="row text-break text-truncate fw-bold me-lg-2 me-xl-2 me-xxl-2 me-md-2 me-sm-2 me-2 mb-0 mb-lg-0 mb-xl-0 mb-md-0 mb-sm-2 mw-100 my-0 py-0 align-middle me-lg-2">
                    <a href="{{publicacion.user.get_absolute_url}}" class="text-break text-truncate text-decoration-none text-secondary">
                    {% if publicacion.user.apodo %} {{publicacion.user.apodo}} {% else %} {{publicacion.user.username}} {% endif %}
                    </a> 
                    <p class="my-0 text-muted texti text-start text-break text-truncate">@{{publicacion.user.username}}</p>
                </h4>

            </div>
         
                
            <div class="col-1 d-flex align-items-center justify-content-end">


                <div class="dropdown dropstart">
                    <a class="fs-2 align-text-top" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </a>

                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                        {% if request.user == publicacion.user %}
                      <li><a class="dropdown-item" href="{{publicacion.get_absolute_url}}update">Editar</a></li>
                      <li><form method="POST" action="{% url 'delete-publicacion' user_slug=request.user.slug pk=publicacion.pk %}">
                        {% csrf_token %}
                        <button class="dropdown-item" type="submit">Eliminar</button>
                    </form> </li>
                      
                      {% else %}
                      <li><a class="dropdown-item" href="#">Reportar</a></li>
                      {% endif %}
                    </ul>
                </div>




            </div>
                
            </div>

            <!--Contenido de la Publicación-->
            <div class="text-decoration-none pt-3 row container-fluid justify-content-center px-0 bg-white mw-100" style="height:auto;">
                
            {% if publicacion.descripcion %}
                            
                <div class="w-100 text-break text-decoration-none text-dark row justify-content-center align align-items-start d-flex container px-3">
                {{publicacion.descripcion|safe}}
                </div>

            {% endif %}
            
            {% if publicacion.archivo %}

            <div class="row justify-content-center w-100 container px-3 py-2">
                {{publicacion.archivo|tipo_archivo|safe}}
            </div>
                        
            {% endif %}

                <!--Fecha de la creación de la publicación-->
                <div class="row text-muted text-start mb-2">
                    {% if publicacion|editado %} {{publicacion|editado|safe}}{% endif %}  <small>{{object.fecha_creacion}}</small> 
                </div>
                
                
      

            </div>

                    

        </div>

        <!--Formulario de Comentarios-->
        <form id='form-comentario' class="container d-flex row justify-content-center" action="" method="post"> 
            {% csrf_token %}
            <div class="row border-top container-fluid w-100 col-12 d-flex justify-content-center">

                <!--Botones de la Publicación--> 
                <div class="row text-decoration-none col-12 mt-2">
                    <div id = 'divlike{{publicacion.id}}' class="p-0 col-md-6 col-xl-6 col-lg-6 col-6 text-center">
                    {% if EstadoLike %}
                        <a href="#" id="dislike{{publicacion.id}}" onclick = "dislikepublicacion('{{publicacion.disPublicacion}}')" class="text-muted px-0 fw-lighter text-decoration-none align-middle like z-2">
                            <i class="bi bi-heart-fill text-primary me-2"></i>
                            {{publicacion.cantidadLikes}} 
                        </a>
                    {% else %}
        
                        <a href="#" id="like{{publicacion.id}}" onclick="likepublicacion('{{publicacion.likePublicacion}}')" class="text-muted px-0 fw-lighter text-decoration-none align-middle like z-2">
                            <i class="bi bi-heart me-2"></i> 
                            Like
                        </a>
                    {% endif %} 
                    </div>
                    <div id = 'coment{{publicacion.id}}' class="p-0 col-md-6 col-xl-6 col-lg-6 col-6 text-center">
                        <a href="#" class="text-muted text-decoration-none align-middle like z-2" onclick="$('.form-comentario').focus();">
                            <i class="bi me-1 {% if publicacion.bool_comment %} text-primary bi-chat-left-fill {% else %} bi-chat-left {% endif %}"></i> 
                          {% if publicacion.cantidadComentarios != 0 %}  {{publicacion.cantidadComentarios}} 
                          {% else %}
                            Comentario
                        {% endif %}
                        </a>
                    </div>
                </div>
            </div>
                                
            <div class="col-12 d-flex justify-content-start align-items-center align-middle {% if not object_list %} border-bottom {% endif %}">
                
                <div class="col d-flex pe-0 py-0 my-2 ms-2 me-3 align-middle d-flex h-100 align-items-center">
                    <a href="#" class="text-start my-auto">
                        <img
                            class="rounded-circle profile-img my-auto"
                            alt="profile"
                            src="{% static 'img/default-profile.png' %}"
                            data-holder-rendered="true"
                        >
                    </a>
                </div>

                {{form.comentario}}
                
             
            </div>

            
        </form>

    
        <div id = "comentarios" class="infinite-container container d-flex row justify-content-center">
        {% for com in object_list %}
        
        <div id = "comentarios{{com.id}}" class="infinite-item row container mw-100 border-top ">

        <!--Comentario Usuario-->
            <div class="align-middle px-2 mt-2 py-2 col-12 row container-fluid px-0 d-flex justify-content-start">
                <div class="container w-100 col-12 d-flex justify-content-start align-items-center align-middle">

                    <!--Foto del usuario-->
                        <a href="{{com.user.get_absolute_url}}" class="px-0 text-start my-auto">
                            {% if com.user.foto %}
                            <img class="rounded-circle img-fluid img-comment" alt="profile" src="{{com.user.foto.url}}"data-holder-rendered="true">
                            {% else %}
                            <img class="rounded-circle img-fluid img-comment" alt="profile" src="/static/img/default-profile.png" data-holder-rendered="true"> 
                            {% endif %}
                        </a>
                    

                    <!--Autor-->
                    <div class="autor-comentario col-8 col-md-9 col-lg-9 col-sm-8 col-xs-6 gap-0 ms-2 d-flex align-items-center align-middle h-100 mb-auto">
                        <h5 class="text-break text-truncate fw-bold me-lg-2 me-xl-2 me-xxl-2 me-md-2 me-sm-2 me-2 mb-0 mb-lg-0 mb-xl-0 mb-md-0 mb-sm-2 mw-100 my-0 py-0 align-middle me-lg-2">
                            <a href="{{com.user.get_absolute_url}}" class="text-decoration-none text-secondary"> 
                                {% if com.user.apodo %} {{com.user.apodo}} {% else %} {{com.user.username}} {% endif %}
                            </a> 
                        </h5>
                        <p class="my-0 text-muted texti text-start text-break text-truncate">@{{com.user.username}}</p>
                       
                    </div>  

                    {% comment %} Dropdown {% endcomment %}
                    <div class="col-1 d-flex align-items-center justify-content-end">
                        <div class="dropdown dropstart">
                            <a  role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </a>
            
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% if request.user == com.user or request.user == publicacion.user %}
                            <li>
                                <button class="dropdown-item" onclick="deletecomentario('{{com.urlComentario}}', comentarios{{com.id}})" >Eliminar</button>
                            </li>
                            
                            {% else %}
                            <li><a class="dropdown-item" href="#">Reportar</a></li>
                            {% endif %}
                            </ul>
                        </div>   
                    </div> 

                </div>
                
                <div class="col-12 my-2 text-muted text-break">
                    {{com.comentario|linebreaks}}
                </div>
                
                <!--Botones de la Publicación--> 
                <div class="col-12 d-flex align-items-center gap-0 d-inline-flex text-decoration-none">
                    <div id = 'divlike{{com.id}}' class="text-decoration-none">
                        {% if com.bool_like %}
                        <a id="dislike{{com.id}}" href="#" onclick = "dislikepublicacion('{{com.dislikeComentario}}')" class="text-muted px-0 fw-lighter text-decoration-none align-middle like z-2"><i class="bi bi-heart-fill text-primary me-2"></i> {{com.cantidadLikes}} </a>
                        {% else %}
                        <a id='like{{com.id}}' href="#"  onclick="likepublicacion('{{com.likeComentario}}')" class="text-muted px-0 fw-lighter text-decoration-none align-middle like z-2"><i class="bi bi-heart me-2"></i> Like {% comment %} {{com.cantidadLikes}} {% endcomment %} </a>

                        {% endif %}

                         <!--Fecha de la creación de la publicación-->
                    </div>
                    {% comment %} <small class="fw-lighter text-muted ms-2"> {{com.fecha_creacion|fecha_exacta}}</small> {% endcomment %}

                        {% comment %}                     {% if com.user == request.user %}
                        <a onclick="deletecomentario('{{com.urlComentario}}', comentarios{{com.id}})" >ELIMINAR</a>
                    {% endif %} {% endcomment %}
                </div>
            </div>
        </div>
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}" style="display:none;">More</a>
    
        {% else %}
        <a class="infinite-more-link" href="?page=0" style="display:none;">More</a>
        {% endif %}

        <div class="page-load-status mt-3">
            {% if page_obj.has_next %}
            <h5 class="infinite-scroll-request col-12 text-center">
                Cargando...
            </h5>
            {% endif %}
 
    
        </div>
    
     

        </div>
    </div>






</div>

{% endblock %}

{% block script %}

<script src="{% static 'js/like-comen.js' %}"></script>
<script>
    window.data = {url_coment: '{% url "comentario" publicacion.id|safe%}'}
                    
</script>
<script src="https://unpkg.com/infinite-scroll@4.0.1/dist/infinite-scroll.pkgd.min.js"></script>
<script src="{% static 'js/load-more-comments.js' %}"></script>
{% endblock script %}

