{% extends innercontent %}
{% load static %}
{% load pub_extras %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/contenido-multimedia.css'%} ">
{% endblock css %}

{% block headtitle %}
Needer | {{object.username}}
{% endblock headtitle %}

{% block inner-content %}
<div class="container pb-4 mx-auto" id="contenido">
    <!--Datos personales-->
    {% include 'social/user/datos-personales.html' %}

    <!--Navegacion secundaria-->
    <div class="mb-4 px-0 container-fluid my-4 d-flex justify-content-lg-start justify-content-md-start justify-content-sm-center justify-content-center border-bottom mb-3 pre-ajustes">
        {% with url_name=request.resolver_match.url_name %}
        <a class="mx-auto mx-lg-3 mx-xl-3 mx-md-3 mx-sm-auto ms-md-0 ms-lg-0 ms-xl-0 mb-0 fw-bolder text-muted border-0 text-decoration-none  text-center
        {% if url_name == 'detalle-creador' %}active {% endif %}" href="{{object.get_absolute_url}}">
            <h2 class="mb-0">Perfil</h2>
        </a>
        <a href="{% url 'galeria-social'  slug=object.slug %}" class="mx-auto {% if url_name == 'galeria-social' %} active {% endif %} mx-lg-3 mx-xl-3 mx-md-3 mx-sm-auto ms-md-0 ms-lg-0 ms-xl-0 mb-0 fw-bolder text-muted text-decoration-none text-center" href="#">
            <h2 class="mb-0">Galeria</h2>
        </a>
        <a class="mx-auto mx-lg-3 mx-xl-3 mx-md-3 mx-sm-auto ms-md-0 ms-lg-0 ms-xl-0 mb-0 fw-bolder text-muted border-0 text-decoration-none text-center
        {% if url_name == 'account_change_password' %}active {% endif %}" href="{% url 'account_change_password' %}">
            <h2 class="mb-0">Marketplace</h2>
        </a>
        {% endwith %}
    </div>

    <!--Contenido interno-->
    <div class="my-4 infinite-container container row w-100 mx-0 d-flex justify-content-lg-between justify-content-md-center justify-content-sm-between justify-content-around div-galeria-container">
        
        {% if object_list.count == 0 %}
    
        <div class="row container my-auto d-flex justify-content-center w-100">
           
            <img
            class="mt-4 mb-3 img-fluid"
            src="{% static 'img/publicar.svg'%}"
            style="height: 50vh;"
            >
            <h3 class="text-center ">No tienes ninguna publicacion, <a class="text-decoration-none fw-bold text-primary" href="{% url 'crear-publicacion' %}">publica ahora!</a></h3>
        </div>
    
    
        {% endif %}

        {% for publicacion in object_list %}
        <a class="col-3 infinite-item justify-content-center align-items-center shadow px-0 div-galeria pub-audio align-items-end text-center" href="{{publicacion.get_absolute_url}}" target="_blank">
            {% if publicacion.archivo %}

            {{publicacion.archivo|tipo_archivo|safe}}      
            
            {% else %}
            Error no se encontro la imagen
            {% endif %}
            
        </a>
        {% endfor %}


    </div>

    {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}" style="display:none;">More</a>
    
        {% else %}
        <a class="infinite-more-link" href="?page=0" style="display:none;">More</a>
        {% endif %}

        <div class="page-load-status mt-3">
            {% if page_obj.has_next %}
            <h3 class="infinite-scroll-request col-12 text-center">
                Cargando...
            </h3>
            {% endif %}
        </div>

</div>
{% include 'social/user/foto-perfil-modal.html' %}

{% endblock inner-content %}

{% block script %}
<script src="https://unpkg.com/infinite-scroll@4.0.1/dist/infinite-scroll.pkgd.min.js"></script>
<script src="{% static 'js/load-more-ajax.js' %}"></script>
{% endblock script %}

