
{% extends 'main/user/content.html' %}
{% load static %}
{% load pub_extras %}


{% block css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
<link rel="stylesheet" href="{% static 'css/thread.css'%} ">
{% endblock css %}


{% block headtitle %}
Needer | Chat
{% endblock headtitle %}

{% block inner-content %}
{% if user.is_authenticated %}
<input type="hidden" id="logged-in-user" value="{{ user.id }}">
{% endif %}
<div class="row h-100 ms-0 me-0 messages-wrapper hide is_active" chat-id="chat_{{ thread.id }}" other-user-id="
{% if thread.first_person == user %}
    {{ thread.second_person.id }}
{% else %}
    {{ thread.first_person.id }}
{% endif %}
">
    <div class="col-12 d-flex px-0 justify-content-start border-bottom info">
        <div class="mx-2 d-flex justify-content-center align-items-center">
            <i class="bi bi-arrow-left fs-1"></i>
        </div>
        <div class="col-4 pt-2 py-2 d-flex justify-content-end align-items-center">
            <a href="#">
                {% if thread.first_person == user %}
                    {% if thread.second_person.foto %}
                <img id="image_profile"
                    class="rounded-circle img-fluid my-auto img-static"
                    alt="profile"
                    src="{{thread.second_person.foto.url}}"
                    data-holder-rendered="true"
                >
                {% else %}
                <img id="image_profile"
                    class="rounded-circle img-fluid my-auto img-static"
                    alt="profile"
                    src="{% static 'img/default-profile.png' %}"
                    data-holder-rendered="true"
                >
                {% endif %}
                {% else %}
                    {% if thread.first_person.foto %}
                <img id="image_profile"
                    class="rounded-circle img-fluid my-auto img-static"
                    alt="profile"
                    src="{{thread.first_person.foto.url}}"
                    data-holder-rendered="true"
                >
                {% else %}
                <img id="image_profile"
                    class="rounded-circle img-fluid my-auto img-static"
                    alt="profile"
                    src="{% static 'img/default-profile.png' %}"
                    data-holder-rendered="true"
                >
                {% endif %}

                {% endif %}
            </a>
        </div>
        <div class="col-6 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 justify-content-start d-flex align-items-center">
            <h5 class="mb-0 mb-lg-0 mb-xl-0 mb-md-0 mw-100 my-0 py-0 nombreape">
                <a href="#" class=" text-decoration-none text-primary text-capitalize" >
                    {% if thread.first_person == user %}
                    {{thread.second_person.username}}
                    {% else %}
                    {{thread.first_person.username}}
                    {% endif %}
                </a>
            </h5>
        </div>
    </div>
    <!-- Users box-->
    <div class="col-12 px-0 overflow-auto pb-2 userbox msg_card_body" id="scroll">
        {% comment %} los mensajes se ponene en orden de la fecha {% endcomment %}

        {% for thread in object.chatmessage_thread.all %}
        <!-- Chats -->
        {% if thread.user == user %}
        <div class="row d-flex col-9 m-2 mx-0 px-0 py-0 float-end justify-content-end align-items-center">
            <div class="col-12 col-md-12 mx-2 rounded-4 py-0 justify-content-start respuesta">
                <p class="mb-0 mb-lg-0 mb-xl-0 mb-md-0 mb-sm-2 my-0 py-0 text-start nombreuser ">
                    {{thread.message}}
                </p>
            </div>
        </div>
        {% else %}
        <div class="row d-flex col-12 m-2 mx-0 px-0 py-0 justify-content-start align-items-center">
            <!--Foto Usuario-->
            <div class="col-3 col-md-1 d-flex pe-0 py-2 justify-content-start">
                <a href="#" class="text-center">
                    {% if thread.user.foto %}
                    <img
                        class="rounded-circle d-lg-block d-none img-fluid my-auto img-perfil"
                        alt="profile"
                        src="{{thread.user.foto.url}}"
                        data-holder-rendered="true"
                    >
                    {% else %}
                    <img
                        class="rounded-circle d-lg-block d-none img-fluid my-auto img-perfil"
                        alt="profile"
                        src="{% static 'img/default-profile.png' %}"
                        data-holder-rendered="true"
                    >
                    {% endif %}
                </a>
            </div>
            <!-- Mensajes -->
            <div class="col-9 mx-2 rounded-4 py-0 justify-content-start mensajes">
                <p class="mb-0 mb-lg-0 mb-xl-0 mb-md-0 mb-sm-2 my-0 py-0 text-break text-start nombreuser">
                    {{thread.message}}
                </p>
            </div>
        </div>
        {% endif %}

        {% endfor %}
    </div>
    <div class="col-12 justify-content-center align-items-center chat">
        <div class="col-1 d-flex justify-content-center align-items-center">
            <i class="bi bi-emoji-smile fs-2"></i>
        </div>
        <!-- input -->
        <div class="col-11 col-md-11 py-0 justify-content-start">
            <form id="send-message-form" class="d-flex align-items-center" action="#">
                <input
                    maxlength
                    "50"
                    required
                    minlength="1"
                    type="text"
                    class="form-control"
                    id="input-message"
                    name="q"
                    placeholder="Escribe tu mensaje ..."
                >
            </form>
        </div>
    </div>
</div>
{% endblock inner-content %}

{% block script %}
<script src="{% static 'js/messages.js' %}"></script>
<script type="text/javascript">
    document.getElementById('scroll').scrollTop = 9999999;
</script>

{% endblock script %}
