{% extends innercontent %}
{% load static %}
{% load pub_extras %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/perfil-creador.css'%} ">
{% endblock css %}

{% block headtitle %}
Needer | {{object.username}}
{% endblock headtitle %}

{% block inner-content %}


<!--Contenido de adentro-->
<div class="my-4 container-fluid row w-100 mx-0 d-flex justify-content-lg-between justify-content-md-center justify-content-sm-center justify-content-center">
    
    <!--Contenido de la izquierda-->
    <div class="d-flex justify-content-center row container-fluid col-sm-12 col-lg-7 px-0 shadow rounded">

        <!--Icono y titulo-->
        <div class="row border-bottom">
        <h1 class="text-center text-primary "><i class="bi bi-arrow-left text-primary"></i>Publicacion</h1>
        </div>


        <!--Publicación-->
        <div class="row container-fluid px-0 bg-white d-flex justify-content-around align-items-center mt-4 publicacion" onclick="window.open('{{publicacion.get_absolute_url}}')"  style="height:auto;">
            <div class="col-12 d-flex align-items-center justify-content-start pt-4">

                <!--Foto del usuario-->
                <div class="col-lg-2 col-md-2  col-3 justify-content-center d-flex pe-0">
                    <a href="{{publicacion.user.get_absolute_url}}" class="text-center">
                        {% if object.user.foto %}
                                    
                        <img class="rounded-circle img-fluid profile-img" alt="profile" src="{{object.user.foto.url}}"data-holder-rendered="true">
                    
                        {% else %}
                        <img class="rounded-circle img-fluid profile-img" alt="profile" src="{% static 'img/default-profile.png' %}"data-holder-rendered="true">
                                
                        {% endif %}
                        </a>
                </div>

            <!--Autor y Hora-->
            <div class="row col-7 col-md-8 col-lg-8 gap-0 ms-1">
                <h5 class="text-secondary fw-bold mb-0 mb-lg-0 mb-xl-0 mb-md-0 mb-sm-2 mw-100 my-0 py-0">
                    <a href="{{publicacion.user.get_absolute_url}}" class="text-decoration-none text-secondary">
                        
                    {% if publicacion.user.apodo %} {{publicacion.user.apodo}} {% else %} {{publicacion.user.username}} {% endif %}
                    </a> 
                </h5>
                <p class="my-0 text-muted">@{{publicacion.user.username}} · {{object.fecha_creacion}}</p>
                {% if publicacion|editado %}{{publicacion|editado|safe}}{% endif %}
            </div>

            <div class="col d-flex align-items-center justify-content-end">
                <a class="btn text-primary text-end editar-pub-btn"><i class="bi bi-pencil-square border-none"></i></a>
            </div>
                            
            </div>

            <!--Contenido de la Publicación-->
            <div class="text-decoration-none row container-fluid px-0 bg-white py-4 mw-100" style="height:auto;">

            {% if publicacion.descripcion %}
                            
                <div class="w-100 text-break text-decoration-none text-dark row justify-content-center align align-items-start d-flex container px-4">
                {{publicacion.descripcion|safe}}
                </div>

                {% endif %}
            
                {% if publicacion.archivo %}

                <img class="img-fluid pub-img rounded" alt="profile" src="{{publicacion.archivo.url}}" data-holder-rendered="true">
                            
                    {% endif %}
                <!--Botones de la Publicación--> 
                <a href="{{publicacion.get_absolute_url}}" class="col-lg-12 row mt-4 text-decoration-none px-4">
                    <button class="btn text-primary col-6 like"><i class="bi bi-heart"></i> Like </button>
                    <button class="btn text-primary col-6 like"><i class="bi bi-chat-left"></i> Comentar </button>
                </a>

            </div>

                    

        </div>

        <!--Realizar comentario-->
        <div>
            <textarea class="form-control" style="resize:none;" placeholder="Escribe tu comentario"></textarea>
        </div>

        <hr class="mt-3">

        <!--Comentario Usuario-->
        <div class="row col-12">
            
            <!--Foto Usuario-->
            <div class="col-lg-2 col-md-2  col-3 justify-content-center d-flex pe-0">
                <a href="{{publicacion.user.get_absolute_url}}" class="text-center">
                    {% if object.user.foto %}
                                
                    <img class="rounded-circle img-fluid profile-img" alt="profile" src="{{object.user.foto.url}}"data-holder-rendered="true">
                
                    {% else %}
                    <img class="rounded-circle img-fluid profile-img" alt="profile" src="{% static 'img/default-profile.png' %}"data-holder-rendered="true">
                            
                    {% endif %}
                    </a>
            </div>

            <div class="row col-7 col-md-8 col-lg-8 gap-0 ms-1">
                <h5 class="text-secondary fw-bold mb-0 mb-lg-0 mb-xl-0 mb-md-0 mb-sm-2 mw-100 my-0 py-0">
                    <a href="{{publicacion.user.get_absolute_url}}" class="text-decoration-none text-secondary">
                    @{{publicacion.user.apodo}}
                    </a> 
                </h5>
            </div>

            <div class="col-12">
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatibus, pariatur est, nobis quisquam expedita placeat incidunt maxime a ea obcaecati explicabo asperiores fuga dolore eius in eligendi molestiae unde?</p>
            </div>

            <!--Botones de la Publicación--> 
            <a href="{{publicacion.get_absolute_url}}" class="col-lg-12 row mt-4 text-decoration-none px-4">
                <button class="btn text-primary col-6 like"><i class="bi bi-heart"></i> Like </button>
            </a>

        </div>


    </div>

    <!--Contenido de la derecha-->
    <div class="row py-4 col-sm-12 col-lg-5 rounded shadow bg-white mb-4 mb-sm-5 mb-lg-0 mb-md-5 mb-xs-5 divbib">

        <h3 class="text-primary">Quizas te guste</h3>

        <!--Comentario Usuario-->
        <div class="row col-12 mt-5">
                
            <!--Foto Usuario-->
            <div class="col-lg-2 col-md-2  col-3 justify-content-center d-flex pe-0">
                <a href="{{publicacion.user.get_absolute_url}}" class="text-center">
                    {% if object.user.foto %}
                                
                    <img class="rounded-circle img-fluid profile-img" alt="profile" src="{{object.user.foto.url}}"data-holder-rendered="true">
                
                    {% else %}
                    <img class="rounded-circle img-fluid profile-img" alt="profile" src="{% static 'img/default-profile.png' %}"data-holder-rendered="true">
                            
                    {% endif %}
                    </a>
            </div>

            <div class="row col-7 col-md-8 col-lg-8 gap-0 ms-1">
                <h5 class="text-secondary fw-bold mb-0 mb-lg-0 mb-xl-0 mb-md-0 mb-sm-2 mw-100 my-0 py-0">
                    <a href="{{publicacion.user.get_absolute_url}}" class="text-decoration-none text-secondary">
                    @{{publicacion.user.apodo}}
                    </a> 
                </h5>
            </div>

            <div class="col-12">
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatibus, pariatur est, nobis quisquam expedita placeat incidunt maxime a ea obcaecati explicabo asperiores fuga dolore eius in eligendi molestiae unde?</p>
            </div>

        </div>

    </div>


</div>

{% endblock %}