{% extends innercontent %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/perfil-creador.css'%} ">
{% endblock css %}


{% block inner-content %}

<div class="container-fluid my-3 py-4">
    

    <!--Datos personales-->
    <div class="seccion-arriba w-100 row mx-0">
        <div class="col-lg-3 col-md-4 text-center mb-0 mb-sm-3 px-0 mx-0 align-items-center">
            {% if object.foto %}
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="col-12 btn rounded-circle overflow-hidden update-imagen img-fluid" style="background-image: url({{object.foto.url}}); object-fit: cover;"> </button>
            
            {% else %}

            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"   class="col-12 btn rounded-circle overflow-hidden update-imagen img-fluid" style="background-image: url('{% static 'img/default-profile.png' %}');"> </button>
            
            {% endif %}

        </div>
        <div class="col-lg-7 col-md-6 d-flex align-items-center container g-2 justify-content-center">
            <div class="w-100 col-12 d-table-cell align-bottom row g-2  text-break text-lg-start text-md-start text-sm-center text-center"> 
            
            {% if object.first_name or object.last_name %}
            <h1 class="text-primary fw-bold mb-0 mb-sm-2 mw-100">{{object.first_name}} {{object.last_name}}
            </h1>
            <h3 class="text-muted">@ {{object.username}}</h3>

            {% else %}
            <h1 class="text-primary fw-bold mb-0 mb-sm-2 mw-100">{{object.username}}
            </h1>
            {% endif %}
            
            <h3 class="text-muted"><i class="bi bi-geo-alt"></i> {{object.pais}}</h3>
            <h3 class="text-muted mb-0">needer.com.co/{{object.slug}}</h3>
            
            </div>
            
            
        </div>

        <div class="col-md-2 d-flex align-items-end container g-2 justify-content-center">
            <div class="w-100 col-12 d-table-cell align-bottom row g-2 text-lg-start text-sm-center text-center"> 

                <!--Si el usuario sigue al creador el boton es seguido-->
                <h3 class="py-2 text-primary"><a class="btn btn-primary btn-lg rounded-pill">Seguir</a></h3>
            
            
            </div>
           
          
        </div>

    </div>

    <!--Menu-->
    <div class="my-4 d-flex justify-content-start border-bottom mb-3 pre-ajustes">
        {% with url_name=request.resolver_match.url_name %}
        <a class="me-4 mb-0 fw-bolder text-muted 
        {% if url_name == 'detalle-creador' %}active {% endif %}" href="{{object.get_absolute_url}}"><h2 class="mb-0">Perfil</h2></a>
        <a class="me-4 mb-0 fw-bolder text-muted" href="#"><h2 class="mb-0">Galeria</h2></a>
        <a class="me-5 mb-0 fw-bolder text-muted
        {% if url_name == 'account_change_password' %}active {% endif %}" href="{% url 'account_change_password' %}"><h2 class="mb-0">Marketplace</h2></a>
        {% endwith %}
    </div>

    <!--Contenido perfil-->
    <div class="my-4 container-fluid row w-100 mx-0 d-flex justify-content-lg-between justify-content-between justify-content-sm-center">

        <div class="row container-fluid col-sm-12 col-lg-4 rounded shadow bg-white mb-0 mb-sm-5 mb-5 mb-lg-0">
            Bibliografia
        </div>

        <div class="row container-fluid col-sm-12 col-lg-8 rounded shadow bg-white mb-sm-5 mb-5 mb-lg-0">
            Bibliografia
        </div>


    </div>

    




</div>

{% include 'social/creador/foto-perfil-modal.html' %}

{% endblock inner-content %}