{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% endblock css %}
<section class="navegacion w-100">
<nav class="navbar navbar-expand-lg bg-light fixed-top overflow-auto">
    <div class="container-fluid d-flex justify-content-between w-100">
      <div class="col-6">
        <a class="navbar-brand ms-5 nav-titulo" href="{% url 'home-view' %}">
            <img src="{% static 'img/Needer_logo.svg' %}" alt=""  width="40" height="40"  class="d-inline-block align-content-center">
          </a>

      </div>
           

          <div class="d-md-none right-elements  d-lg-flex float-end justify-content-end col-6">
            <a class="nav-link fw-bolder notificacion me-4" href="#"><i class="bi bi-bell"></i></a>
            <a class="nav-link  me-5" href="#">
              <img class="rounded-circle img-fluid profile-img" alt="profile" src="{{request.user.foto.url}}"
              data-holder-rendered="true">
            </a>
          </div>

      <button class="navbar-toggler me-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      
      
      <div class="collapse navbar-collapse overflow-auto" id="navbarText">
         <ul class="navbar-nav ms-lg-auto me-lg-5 mb-lg-0 align-items-center collapse-elements ">
          <li class="nav-item">
            <a class="nav-link" href="#"><h3 class="fw-bold"><i class="bi bi-person-circle me-2"></i>Mi Perfil</h3></a>
            </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="#"><h3 class="fw-bold"><i class="bi bi-image me-2"></i>Publicaciones</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="#"><h3 class="fw-bold"><i class="bi bi-archive me-2"></i>Inventario</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="#"><h3 class="fw-bold"><i class="bi bi-chat-left-text me-2"></i>Mensajes</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="#"><h3 class="fw-bold"><i class="bi bi-wallet2 me-2"></i>Pagos</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="#"><h3 class="fw-bold"><i class="bi bi-bar-chart-line me-2"></i>Estadisticas</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-bold" href="{% url 'account_profile' %}"><h3 class="fw-bold"><i class="bi bi-gear me-2"></i>Ajustes</h3></a>
          </li>

          <hr class="bg-primary">
          <div class="pb-5 text-center">
          <li class="nav-item"><h4><a class="nav-link text-muted fst-italic" href="#">Dona a Needer</h4></a></li>
          <li class="nav-item"><h4><a class="nav-link text-muted fst-italic" href="#">Informacion</h4></a></li>
          <li class="nav-item"><h4><a class="nav-link text-muted fst-italic" href="{% url 'account_logout' %}">Cerrar Sesion</h4></a></li>
        </div>
        </ul>

      </div>
    </div>
  </nav>
</section>