{% load static %}
<!--Titulo y links-->
<h1 class="text-primary mb-3 fw-bold h11">Ajustes</h1>
<div class="d-flex justify-content-start border-bottom mb-3 pre-ajustes">
    {% with url_name=request.resolver_match.url_name %}
    <a class="me-4 mb-0 fw-bolder text-muted 
    {% if url_name == 'account_profile' %}active {% endif %}" href="{% url 'account_profile' %}"><h2 class="mb-0 h22">Perfil</h2></a>
    <a class="me-4 mb-0 fw-bolder text-muted" href="#"><h2 class="mb-0 h22">Método de pago</h2></a>
    <a class="me-5 mb-0 fw-bolder text-muted
    {% if url_name == 'account_change_password' %}active {% endif %}" href="{% url 'account_change_password' %}"><h2 class="mb-0 h22">Actualizar Contraseña</h2></a>
    <a class="me-5 mb-0 fw-bolder text-muted {% if url_name == 'delete_user' %}active {% endif %}" href="{% url 'delete_user' %}"><h2 class="mb-0 h22">Avanzados</h2></a>
    {% endwith %}
</div>