{% extends base_template %}




{% load i18n %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/update-creador.css' %}">
{% endblock css %}

{% block inner-content %}
    <!--INNER CONTENT-->

    <div class="container py-4">
        
        {% include 'account/componente-navegacion-perfil.html' %}


       
   
    



            

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change row d-flex align-content-center container-fluid mx-auto bg-light rounded rounded-5 col-lg-10 my-5 py-3 px-4 bg-white shadow">
            <h2 class="fw-bold">{% trans "Change Password" %}</h2>
                {% csrf_token %}
                <div class="row container-fluid mb-3">

                    {% if messages %}
                    <ul class="messages list-unstyled">
                        {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} fw-bold"{% endif %}> <li>{{ message }}</li> </div>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                    <div class="col-md-12 mb-2">
                        <p><strong class="text-danger">{{ form.oldpassword.errors.as_text }}</strong> </p>
                        <h5 class="text-muted fw-bold"> {{form.oldpassword.label}} </h5>
                        <input class="form-control form-control-lg" type="password" name="oldpassword" placeholder="Contraseña actual" autocomplete="current-password" required="Debes ingresar tu contraseña actual" id="id_oldpassword">
                        <a class="text-muted" href="{% url 'account_reset_password' %}"><small>{% trans "Forgot Password?" %}</small></a>
                         </div>

                    <div class="col-md-6">
                 
                        <h5 class="text-muted fw-bold"> {{form.password1.label}} </h5>
                    <input class="form-control form-control-lg" type="password" name="password1" placeholder="Nueva contraseña" autocomplete="new-password" required="Este campo es obligatorio" id="id_password1">
                    <p><strong class="text-danger">{{ form.password1.errors.as_text }}</strong> </p> 
                    </div>

                    <div class="col-md-6">
                    
                    <h5 class="text-muted fw-bold"> {{form.password2.label}} </h5>
                    <input class="form-control form-control-lg" type="password" name="password2" placeholder="Repite tu contraseña" required="Debes confirmar tu contraseña" id="id_password2">
                    <p><strong class="text-danger">{{ form.password2.errors.as_text }}</strong> </p>
                    </div>

                    <div class="col-md-12 mt-3">

                    <button class="btn btn-primary btn-lg form-control my-3" type="submit" name="action">{% trans "Change Password" %}</button>

                    </div>
                </div>

                
                
            </form>







              




    </div>




{% endblock %}
