{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block headtitle %} Needer - Registro {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock css %}

{% block content %}
<section class="registro row">


  <!--Imagen de la izquierda-->
    <div class="col-md-6 col-sm-12 imagen-izquierda container-fluid">
    </div>




<div class="col-md-6 col-sm-12 formulario-derecha py-3 d-flex align-items-center bg-light justify-content-center p-5 mx-auto">

  <div class="col-md-10">

  <form class="container signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <h1 class="fw-semibold text-center">Bienvenido a Needer</h1>

  <p>{% blocktrans %}¿Ya tienes una cuenta? Por favor <a href="{{ login_url }}" class="text-decoration-none">Iniciar Sesión</a>.{% endblocktrans %}</p>
  
  <datalist name="pais"  id="id_pais">
    {% for data in pais %}
        <option value="{{data}}"></option>
    {% endfor %}
</datalist>

{% if messages %}
<ul class="messages list-unstyled">
    {% for message in messages %}
  <div {% if message.tags %} class="alert alert-{{ message.tags }} fw-bold"{% endif %}> <li>{{ message }}</li> </div>
    {% endfor %}
</ul>
{% endif %}


    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class="form-group mb-3">  
    

    <label class="" for="id_email">Email:</label>
    {{form.email}}
    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu email con otras empresas.</small>
    {{form.email.errors}}
  </div>

  <div class="form-group mb-3">  
    <div class="row">
      
      <div class="col-lg-6 col-sm-12">
    <label class="" for="id_password_1">Contrasena:</label>
   {{form.password1}}
   {{form.password1.errors}}
    </div>

  <div class="col-lg-6 col-sm-12">
   
    <label class="" for="id_password_2">Repite tu Contrasena:</label>
    {{form.password2}}
    {{form.password2.errors}}
  </div>  

  </div>
  </div>



  <div class="form-group mb-3">  
    
    <label class="" for="id_username">Usuario:</label>
   {{form.username}}
   {{form.username.errors}}
  </div>


  <div class="form-group mb-3">  
    <div class="row">

     
    <div class="col-lg-6 col-sm-12 nombres">
      
    <label class="" for="id_first_name">Nombres:</label>
    {{form.first_name}}
    {{form.first_name.errors}}
    </div>


  <div class="col-lg-6 col-sm-12 apellidos">
    
    <label class="" for="id_last_name">Apellidos:</label>
    {{form.last_name}}
    {{form.last_name.errors}}
  </div>  

  </div>
  </div>

  
  <div class="form-group mb-3 documento">  
    <div class="row">

      <div class="col-lg-6 col-sm-12">
        
    <label class="" for="id_pais">Pais:</label> 
    <input type="text" name="pais" maxlength="50" list="id_pais" class="form-control" id="id_pais" placeholder="Pais">
    {{form.pais.errors}}
    </div>

  <div class="col-lg-6 col-sm-12">
    
    <label class="" for="id_num_documento">Numero de documento:</label>
    <input type="text" name="num_documento" maxlength="10" class="form-control" id="id_num_documento" placeholder="Número de documento">
    <small id="emailHelp" class="form-text text-muted">Tu numero de identificacion solo sera consultado por nosotros para validar tu informacion.</small>
    {{form.num_documento.errors}}
  </div>  

  </div>
  </div>

  <!--TODO TELEFONO-->

{{form.captcha}}
{% if redirect_field_value %}
<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}
<button class="btn btn-primary rounded-pill form-control" type="submit">{% trans "Sign Up" %}</button>
</form>

</div>

</div>

</section>

{% endblock %}

{% block script %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock script %}
